<form name="vehicleRegisterProfile" ng-controller="vehicleRegisterController" novalidate>
    <div class="validationError" ng-show="createVehicleErrMsg"><h5 class="c-red">* {{Vmsg}}</h5></div>
    <div class="row" style="margin:15px">
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Registration Number: <span style="color: red;">*</span> </label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" name="registration Num" ng-model="vehicleRegister.vehicle_reg_no" placeholder="Enter Registration Number" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Group Type: <span style="color: red;">*</span></label>
                <div class="col-sm-6">
                    <!-- <div class="select"> -->
                    <select chosen type="text" name="Group type" ng-model="vehicleRegister.group_name"
                            placeholder="Select Group" ng-options="option as option.name for option in vehicleGroups"
                            ng-change="getGroupNames(vehicleRegister.group_name)" class="form-control" required>
                        <!-- <option value="" style="display: none;"> Select Vehicle Group </option> -->
                        <option value=""></option>
                    </select>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Vehicle Type: <span style="color: red;">*</span> </label>
                <div class="col-sm-6">
                    <!-- <div class="select"> -->
                    <select chosen class="form-control" name="vehicle type" ng-model="vehicleRegister.veh_type"
                            ng-options="option as option.name for option in vehicleTypesL" required>
                        <!-- <option value="" style="display: none;"> Select Vehicle Type </option> -->
                        <option value=""></option>
                    </select>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:15px">
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Vehicle Owner Name: <span style="color: red;">*</span></label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" name="vehicle owner name" id="" ng-model="vehicleRegister.supervisor_name"
                               class="form-control" placeholder="Owner Name" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Vehicle Owner Mobile: <span style="color: red;">*</span></label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="number" name="vehicle owner mobile" id="oMobile"
                               ng-model="vehicleRegister.supervisor_contact_no" class="form-control"
                               placeholder="Owner Mobile" ng-minlength="10" ng-maxlength="10" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Owner Group:<span style="color: red;">*</span></label>
                <div class="col-sm-6">
                    <div class="select">
                        <select class="form-control"
                                ng-model="vehicleRegister.owner_group"
                                ng-options="item as item for item in aOwners" required>
                            <option value="" selected disabled> Select Group</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row" style="margin:15px">
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Vehicle Category:<span style="color: red;">*</span></label>
				<div class="col-sm-6">
					<div class="select">
						<select class="form-control"
								ng-model="vehicleRegister.category"
								ng-options="item as item for item in aCatVehStructure" required>
							<option value="" selected disabled> Select Category</option>
						</select>
					</div>
				</div>
			</div>
		</div>
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Vehicle Structure:<span style="color: red;">*</span> </label>
                <div class="col-sm-6">
                    <div class="select">
                        <select class="form-control"
                                ng-model="vehicleRegister.structure"
                                ng-options="item as item.structure_name for item in structuresObjArr" required>
                            <option value="" selected disabled> Select Structure</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Manufacturer:</label>
                <div class="col-sm-6">
                    <div class="select">
                        <select class="form-control"
                                ng-model="vehicleRegister.manufacturer"
                                ng-options="key as key for (key , value) in vehModelMatrix">
                            <option value="" selected disabled> Select Manufacturer</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row" style="margin:15px">
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Model: </label>
				<div class="col-sm-6">
					<div class="select">
						<select class="form-control" name="vehicle model"
								ng-model="vehicleRegister.model"
								ng-options="model.model as model.model for model in vehModels" required>
							<!-- <option value="" style="display: none;"> Select Vehicle Type </option> -->
							<option value="" selected>Select Vehicle model</option>
						</select>
					</div>
				</div>
			</div>
		</div>
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Carrying Capacity(Ton):</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="number" id="truck_capacity" ng-model="vehicleRegister.capacity_tonne"
                               class="form-control" placeholder="In Tonnes">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Body type:</label>
                  <div class="col-sm-6">
                    <div class="fg-line">
                        <div class="radio m-b-15">
                            <label>
                                <input type="radio" name="bodyTypeID" value="open" ng-model="vehicleRegister.body_type">
                                <i class="input-helper"></i>
                                Open
                            </label>
                            <label>
                                <input type="radio" name="bodyTypeID" value="close" ng-model="vehicleRegister.body_type">
                                <i class="input-helper"></i>
                                Close
                            </label>
                        </div>
                    </div>
                  </div>
            </div>
        </div> -->
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Axel Type:</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <div class="select">
                            <select class="form-control" ng-model="vehicleRegister.Axel">
                                <option value="" selected> Select Axek Type</option>
                                <option value="Single">Single</option>
                                <option value="Multi">Multi</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="margin:15px">
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Permit Expiry Date:</label>
				<div class="col-sm-6">
					<div class="fg-line">
						<div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened1 == true }">
							<div ng-class="{ 'fg-toggled': opened1 == true }">
								<input ng-click="open($event, 'opened1')" type="text" class="form-control"
									   datepicker-popup="{{format}}" show-weeks="false"
									   ng-model="vehicleRegister.permit_expiry_date" is-open="opened1"
									   datepicker-options="dateOptions" min-date="minDate" close-text="Close"
									   placeholder="Permit Expiry Date"/>
							</div>
							<span class="input-group-btn">
		                			<button type="button" class="btn btn-default m-t-0 f12"
											ng-click="open($event, 'opened1')"><i
											class="glyphicon glyphicon-calendar"></i></button>
		              	  </span>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Height in Feet:</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="number" ng-model="vehicleRegister.height_ft" class="form-control"
                               placeholder="Height In Feet">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Width in Feet: </label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="number" ng-model="vehicleRegister.width_ft" class="form-control"
                               placeholder="Width In Feet">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="margin:15px">
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Length in Feet:</label>
				<div class="col-sm-6">
					<div class="fg-line">
						<input type="number" ng-model="vehicleRegister.length_ft" class="form-control"
							   placeholder="In Feet">
					</div>
				</div>
			</div>
		</div>
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Driver Name:</label>
                <div class="col-sm-6">
                    <!-- <div class="select"> -->
                    <select chosen type="text" ng-model="vehicleRegister.driver_name" placeholder="Select Name"
                            ng-options="option as option.name for option in Drivers"
                            ng-change="getDriverMobile(vehicleRegister.driver_name)" class="form-control">
                        <option value=""></option>

                    </select>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Driver Mobile:</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="number" ng-model="vehicleRegister.driver_contact_no" placeholder="Enter Mobile.."
                               class="form-control" ng-minlength="10" ng-maxlength="10">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="margin:15px">
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Vendor Name:</label>
				<div class="col-sm-6">
					<!-- <div class="select"> -->
					<select chosen type="text" ng-model="vehicleRegister.this_vendor" placeholder="Select Name"
							ng-options="option as option.name for option in aVendors"
							ng-change="getVendorMobile(vehicleRegister.this_vendor)" class="form-control">
						<option value=""></option>
					</select>
					<!-- </div> -->
				</div>
			</div>
		</div>
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">Vendor Mobile:</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="number" ng-model="vehicleRegister.vendor_mobile" placeholder="Enter Mobile.."
                               class="form-control" ng-minlength="10" ng-maxlength="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-b-0">
                <label class="col-sm-6 control-label">SAP Id:</label>
                <div class="col-sm-6">
                    <div class="fg-line">
                        <input type="text" ng-model="vehicleRegister.sap_id" class="form-control"
                               placeholder="SAP Id">
                    </div>
                </div>
            </div>
        </div>

    </div>
	<div class="row" style="margin:15px">
		<div class="col-md-4" ng-show="showOwn == '100002'">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Own Vehicle<span style="color: red;">*</span>:</label>
				<div class="col-sm-6">
					<!--<label class="checkbox checkbox-inline m-r-20">
						<input type="checkbox" ng-model="vehicleRegister.own">
						<i class="input-helper"></i>
					</label>-->
					<div class="select">
						<select class="form-control" ng-model="vehicleRegister.own" required>
							<option value="" selected> Select Vehicle Type</option>
							<option value="yes">Own</option>
							<option value="no">Market</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="m-l-30 col-md-10">
            <div class="form-group m-b-10">
                <button type="submit" class="btn btn-primary" ng-click="vehicleRegisterDetails(vehicleRegisterProfile)"
                        style="margin-bottom: 12px;">Save
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-126">
        <h5 style="color: red; text-align: right;">* Mandatory Field....</h5>
    </div>
</form>

<!-- ng-disabled="!(vehicleRegister.vehicle_reg_no && vehicleRegister.group_name && vehicleRegister.veh_type && vehicleRegister.model)"

console.log("success", arguments);-->
