<div class="row">
    <div class=" card col-md-12" style="overflow: auto;margin-bottom: -50px;">
        <div class="card col-md-12">
                <div class="col-sm-2 bold">{{aVm.trip.vehicle_no}}</div>
                <div class="col-sm-3 bold">{{((aVm.trip.statuses | filter:{"status": "Trip started"})[0].date | date:"dd-MMM-yyyy 'at' h:mma")}}</div>
                <div class="col-sm-3 bold">{{((aVm.trip.statuses | filter:{"status": "Trip ended"})[0].date | date:"dd-MMM-yyyy 'at' h:mma")}}</div>
                <div class="col-sm-2 bold">{{aVm.trip.route_name}}</div>
                <div class="col-sm-2 bold">{{aVm.trip.route.route_distance + ' km'}}</div>
			<button  style="margin-right: 10px" ; type="button" ng-click="aVm.closeModal()" class="close"
					data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
        </div>
        <div class="card col-md-6"
                ng-if="aVm.showGraph"
                ng-repeat="oGraphKpi in aVm.arr">
            <dashboard graph="oGraphKpi"
                        api="aVm.graphApi"
                        graph-data="aVm.gData[$index]">
            </dashboard>
        </div>
    </div>
</div>
<style type="text/css">
    section.main {
        width: 100%;
        float: none;
        margin: 0;
    }

    .form-group label {
        text-align: left;
    }

    dashboard .container:not(.ja-containter) {
        width: 100%;
    }

    .ja-back {
        position: absolute;
        right: 40px;
        top: 10px;
        z-index: 1;
    }

    .red {
        color: red;
    }

    .fs-25 {
        font-size: 25px;
    }

    .ja-fullscreen {
        position: fixed;
        z-index: 10;
        left: 0;
        top: 40px;
        width: 100% !important;
        margin: 0 !important;
        height: 100vh;
        background: #0000003d;
    }

    .ja-fullscreen .card {
        height: 80% !important;
        width: 90%;
        margin: 30px auto;
        border-radius: 5px;
    }

    .nvd3-wrapper {
        height: calc(100% - 40px) !important;
        width: 100% !important;
    }

    nvd3, svg {
        /*height: calc(100% - 40px) !important;*/
        height: 100% !important;
        width: 100% !important;
    }

    .unresponsive thead tr th {
        min-width: 0 !important;
        max-width: none !important;
        padding: 5px 10px !important;
    }
    .bold {
        font-weight: bold;
    }
</style>
