<!--Controller: tripDetailPopupCtrl-->
<!--ControllerAs: vm-->

<div class="modal-header">
	<button type="button"
			ng-click="vm.close()"
			class="close"
			data-dismiss="modal"
			aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" align="center" ng-hide="vm.oTrip.manualTracking">Trip No. {{vm.oTrip.trip_no}} <span style="color: #1CAA1C; font-size: 14px">({{vm.oTrip.status}})</span></h4>
	<h4 class="modal-title" align="center" ng-show="vm.oTrip.manualTracking">Vehicle No. {{vm.oTrip.trip_no}} <span style="color: #1CAA1C; font-size: 14px">({{vm.oTrip.vehicle.vehicle_reg_no||'NA'}})</span></h4>
</div>

<div class="modal-body">
	<div class="card">
		<div class="card-body">
			<ul class="list-group list-group-flush">
				<!-- BASIC Trip DETAILS -->
				<li class="list-group-item" ng-if="!vm.oTrip.manualTracking">
					<!--<span class="booking_list_header"></span>-->
					<div class="card-body">
						<div class="row" style="margin:5px">
							<div class="col-md-4">
								<div class="col-md-12 form-group m-b-5">
									<label class="col-sm-5">Vehicle </label>
									<div class="col-sm-6">
										{{vm.oTrip.vehicle_no || 'NA'}}
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="col-md-12 form-group m-b-5">
									<label class="col-sm-5">Driver Name: </label>
									<div class="col-sm-6">
										{{vm.oTrip.driver.name || vm.oTrip.vehicle.driver_name || 'NA'}}
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="col-md-12 form-group m-b-5">
									<label class="col-sm-5">Driver Contact: </label>
									<div class="col-sm-6">
										{{vm.oTrip.driver.prim_contact_no || vm.oTrip.vehicle.driver_contact_no || 'NA'}}
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="col-md-12 form-group m-b-5">
									<label class="col-sm-5">Route Name: </label>
									<div class="col-sm-6">
										{{vm.oTrip.route_name || vm.oTrip.rName || 'NA'}}
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="col-md-12 form-group m-b-5">
									<label class="col-sm-5">Branch Name: </label>
									<div class="col-sm-6">
										{{vm.oTrip.branch.name || 'NA'}}
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="col-md-12 form-group m-b-5">
									<label class="col-sm-5">Status: </label>
									<div class="col-sm-6">
										{{vm.oTrip.status || 'NA'}}
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="col-md-12 form-group m-b-5">
									<label class="col-sm-5">Last Update Time: </label>
									<div class="col-sm-6">
										{{vm.oTrip.last_modified_at | date:"dd-MMM-yyyy 'at' h:mma" || 'NA'}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="list-group-item" ng-if="!vm.oTrip.manualTracking">
					<!--<span class="booking_list_header"></span>-->
					<div class="card-body">
						<div class="row" style="margin:5px">
							<div class="col-md-12">
								<span ng-hide="vm.oTrip.isCancelled">
									<button class="btn-primary waves-effect"
										ng-click="vm.addMoreGR(vm.oTrip)">Add More Gr
									</button>&nbsp;&nbsp;
								</span>
								<span ng-if="$role['Trip']['Admin Edit'] && !vm.oTrip.isCancelled">
									<button class="btn-primary waves-effect"
											ng-click="vm.updateStatus(vm.oTrip)">Update Status
									</button>&nbsp;&nbsp;
								</span>
								<span ng-if="$role['Trip']['Vehicle Edit'] && !vm.oTrip.isCancelled && vm.oTrip.ownershipType === 'Market'">
									<button class="btn-primary waves-effect"
											ng-click="vm.updateVehicle(vm.oTrip)">Update Vehicle
									</button>&nbsp;&nbsp;
								</span>
								<span ng-hide="vm.oTrip.isCancelled">
									<button class="btn-primary waves-effect"
											ng-click="vm.transShipment(vm.oTrip)">Trip transShipment
									</button>&nbsp;&nbsp;
								</span>
								<span ng-hide="vm.oTrip.isCancelled">
									<button class="btn-primary waves-effect"
											ng-click="vm.changeDriver(vm.oTrip)">Change Driver
									</button>&nbsp;&nbsp;
								</span>
								<span ng-hide="vm.oTrip.isCancelled">
									<button class="btn-primary waves-effect"
											ng-click="vm.routeUpdate(vm.oTrip)">Change Route
									</button>&nbsp;&nbsp;
								</span>
								<span ng-hide="vm.oTrip.isCancelled || vm.oTrip.status === 'Trip ended'">
									<button
											class="btn-primary waves-effect"
											ng-click="vm.myTripUpdate(vm.oTrip, vm.aStatusChange[vm.aStatusChange.indexOf(vm.oTrip.status)+1])">
										{{vm.aStatusChange[vm.aStatusChange.indexOf(vm.oTrip.status)+1]}}
									</button>&nbsp;&nbsp;
								</span>
								<span>
									<button ng-click="vm.addIMDs(vm.oTrip)" class="btn-primary waves-effect">
										Add Imds
									</button>&nbsp;&nbsp;
								</span>
								<span ng-if="$role['Trip']['Trip Cancel']">
									<button ng-disabled="vm.oTrip.vendorDeal.acknowledge.status"
											ng-hide="vm.oTrip.isCancelled"
											class="btn btn-danger waves-effect"
											ng-click="vm.cancelTrip(vm.oTrip)">Cancel Trip
									</button>&nbsp;&nbsp;
								</span>
							</div>
						</div>
					</div>
				</li>

				<li class="list-group-item" ng-if="vm.oTrip.ownershipType == 'Market' || !vm.oTrip.manualTracking">
					<span class="booking_list_header">VENDOR DEAL</span>
					<button ng-if="vm.oTrip.vendor.account.name"
							class="btn-primary btn-xs m-l-5"
							uib-tooltip="Preview Vendor Documents"
							tooltip-placement="bottom"
							ng-click="vm.previewDocs()"><i
							class="zmdi zmdi-border-color glyphicon glyphicon-list-alt"></i><span></span>
					</button>
					<button class="btn-primary btn-xs m-l-5"
							ng-if="$role['Trip Performance']['Vendor Deal']"
							ng-click="vm.vendorDealPopUp()">
						Vendor Deal
					</button>&nbsp;
					<button class="btn-primary btn-xs m-l-5"
							ng-if="$role['Trip Performance']['Acknowledge'] && vm.oTrip.vendorDeal && !vm.oTrip.vendorDeal.acknowledge.status && vm.oTrip.vendorDeal.total_expense && selectedClient === vm.oTrip.vendor.clientId"
							ng-click="vm.acknowledgeDeal()">
						Acknowledge Deal
					</button>
					<button class="btn-primary btn-xs m-l-5"
							ng-if="$role['Trip Performance']['Revert Ack'] && vm.oTrip.vendorDeal && vm.oTrip.vendorDeal.acknowledge.status"
							ng-click="vm.revertAck()">
						Revert Acknowledge
					</button>

					<button class="btn-primary btn-xs m-l-5"
							ng-click="$event.preventDefault();preview(vm.oTrip.vendorDeal.loading_slip)"
							ng-show="vm.oTrip.vendorDeal.loading_slip">Preview Slip
					</button>
					<div ng-hide="vm.oTrip.vendorDeal.loading_slip">
						<form role="form" name="myForm" autocomplete="off">
							<button class="btn btn-sm btn-primary"
									onclick="document.getElementById('loading_slip').click();">
								Select File
							</button>
							<input ng-hide="true" id="loading_slip" type="file"
								   accept="image/*,application/pdf"
								   ngf-select ng-model="loading_slip" name="loading_slip"
								   ngf-max-size="2MB" ngf-model-invalid="errorFile">
							<i ng-show="myForm.loading_slip.$error.maxSize">File too large
								{{errorFile.size / 1000000|number:1}}MB: max 2M</i>
							<img ng-show="myForm.loading_slip.$valid" ngf-src="loading_slip"
								 ngf-resize="{width: 100, height: 100}">
							<button ng-click="$event.preventdefault();vm.uploadLoadingSlip(loading_slip)"
									ng-show="(loading_slip && myForm.loading_slip.$valid)"
									class="btn btn-primary waves-effect pointer">
								<i class="glyphicon glyphicon-upload"></i>
							</button>
						</form>
					</div>

					<div class="card-body">
						<div ng-if="vm.oTrip.vendorDeal" class="row" style="margin-top: 13px;margin-left: 12px;">
							<div class="col-md-12">
								<div class="col-md-4" ng-if="vm.oTrip.vendor.name">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-4">Vendor:</label>
										<div class="col-sm-8">{{vm.oTrip.vendor.name}}</div>
									</div>
								</div>
								<div class="col-md-4" ng-if="vm.oTrip.vendor.pan_no">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-4">Pan_no:</label>
										<div class="col-sm-8">{{vm.oTrip.vendor.pan_no}}</div>
									</div>
								</div>
								<div class="col-md-4" ng-if="vm.oTrip.vendor.ho_address">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-4">Address:</label>
										<div class="col-sm-8">
											{{vm.oTrip.vendor.ho_address.line1}}
											{{vm.oTrip.vendor.ho_address.city}}
											{{vm.oTrip.vendor.ho_address.state}}
										</div>
									</div>
								</div>
								<div class="col-md-4" ng-if="vm.oTrip.vendorDeal.deal_at">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-4">Deal_at:</label>
										<div class="col-sm-8">{{vm.oTrip.vendorDeal.deal_at | date:"dd-MM-yyyy"}}</div>
									</div>
								</div>
								<div class="col-md-4" ng-if="vm.oTrip.vendorDeal.payment_type">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Payment Type:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.payment_type |
											date:'dd-MM-yyyy'}}</div>
									</div>
								</div>
								<div class="col-md-4" ng-if="vm.oTrip.vendorDeal.weight_type">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Payment Basis:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.weight_type |
											date:'dd-MM-yyyy'}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Total:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.total_expense|roundOff}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Munshiyana:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.munshiyana || 0}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Tot.With Munshiyana:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.totWithMunshiyana || 0}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">TDS %:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.tdsPercent || 0}}%</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Advance:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.advance || 0}}</div>
									</div>
								</div>
								<div class="col-md-4" ng-if="vm.oTrip.vendorDeal.advance_due_date">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Adv. Due Date:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.advance_due_date | date:'dd-MM-yyyy'}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">ToPay/Balance:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.toPay}}</div>
									</div>
								</div>
								<div class="col-md-4" ng-if="vm.oTrip.vendorDeal.topay_due_date">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">ToPay Due Date:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.topay_due_date | date:'dd-MM-yyyy'}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Tot. Charges:</label>
										<div class="col-sm-5"> {{(vm.totalExtraCharges = (vm.oTrip.vendorDeal.totalCharges) || 0) | roundOff:0}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">TDS(Ext. Charges):</label>
										<div class="col-sm-5"> {{(vm.extChargesTdsAmount = (vm.oTrip.vendorDeal.charges|sumObjKey:'tdsAmount') || 0) | roundOff}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Tot. Deduction:</label>
										<div class="col-sm-5"> {{(vm.totalDeduction = (vm.oTrip.vendorDeal.totalDeduction) || 0) | roundOff:0}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Total Payable:</label>
										<div class="col-sm-5"> {{(vm.totalPayable = (vm.oTrip.vendorDeal.totWithMunshiyana + vm.totalExtraCharges - vm.totalDeduction - (vm.oTrip.vendorDeal.tdsAmount || 0) - (vm.extChargesTdsAmount || 0) )) | roundOff}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Total TDS:</label>
										<div class="col-sm-5"> {{(vm.oTrip.vendorDeal.tdsAmount + vm.extChargesTdsAmount) | roundOff}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Remaining Amount:</label>
										<div class="col-sm-5"> {{(vm.oTrip.vendorDeal.remainingAmount = vm.remainingAmount = vm.totalPayable - vm.oTrip.tAdv)|roundOff}}</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Ack. By:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.acknowledge.userName}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5">
										<label class="col-sm-7">Ack. Date:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.acknowledge.date | date:'dd-MM-yyyy'}}</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12 form-group m-b-5" style="color:#ff5e5e;">
										<label class="col-sm-7">Hire Slip:</label>
										<div class="col-sm-5"> {{vm.oTrip.vendorDeal.loading_slip}}</div>
									</div>
								</div>
							</div>

							<div class="col-md-12" ng-hide="true">
								<div ng-show="vm.oTrip.vendor.banking_details.length>0" class="col-sm-6">
									<table style="border: 1px solid #ddd;margin-left: 15px;"
										   class="table table-bordered">
										<thead>
										<th>Bank A/C</th>
										<th>IFSC</th>
										<th>Declaration</th>
										</thead>
										<tbody>
										<tr ng-style="{ 'background-color': vm.oTrip.vendor.bankingDetail.a_c == bank.a_c ? '#5ce260' : 'white' }"
											ng-repeat="bank in vm.oTrip.vendor.banking_details">
											<td>{{bank.a_c}}</td>
											<td>{{bank.ifsc}}</td>
											<td>{{bank.declaration}}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="list-group-item" ng-if="!vm.oTrip.manualTracking">
				   <span class="booking_list_header">GR Status</span>
					<div class="card-body">
						<div class="row" style="margin:5px">
							<div class="col-md-12"
								 ng-repeat="oGr in vm.oTrip.gr"
							     ng-init="oGr.isCollapsed = true">
								<div class="thumbnail z-depth-1">
									<div class="row">
										<div class="col-md-3">
											<div class="col-md-12 form-group m-b-5">
												<label class="col-sm-4">Gr Status:</label>
												<div class="col-sm-8">{{oGr.status}}</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="col-md-12 form-group m-b-5">
												<label class="col-sm-4">Gr Number:</label>
												<div class="col-sm-8">{{oGr.grNumber || 'NA'}}</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="col-md-12 form-group m-b-5">
												<label class="col-sm-4">Gr date:</label>
												<div class="col-sm-8">{{(oGr.grDate | date:"dd-MMM-yyyy 'at' h:mma") || 'NA'}}</div>
											</div>
										</div>
										<div class="col-md-1 pull-right">
											<a ng-click="oGr.isCollapsed = !oGr.isCollapsed" uib-tooltip="Gr Details" tooltip-placement="bottom" style="font-size:20px;">
												<i class="zmdi zmdi-caret-down zmdi-hc-fw"></i>
											</a>
										</div>
										<div class="clearfix"></div>
										<div class="col-md-12"
											 uib-collapse="oGr.isCollapsed"
											 class="in collapse"
											 aria-expanded="false"
											 aria-hidden="false">
											<div class="col-md-3">
												<div class="col-md-12 form-group m-b-5">
													<label class="col-sm-4">Gr customer:</label>
													<div class="col-sm-8">{{oGr.customer.name || 'NA'}}</div>
												</div>
											</div>

											<div class="col-md-3">
												<div class="col-md-12 form-group m-b-5">
													<label class="col-sm-5">Gr Type: </label>
													<div class="col-sm-6">
														{{oGr.gr_type || "NA"}}
													</div>
												</div>
											</div>

											<div class="col-md-3">
												<div class="col-md-12 form-group m-b-5">
													<label class="col-sm-5">Last Modifird: </label>
													<div class="col-sm-6">
														{{(oGr.last_modified_at | date:"dd-MMM-yyyy 'at' h:mma") || 'NA'}}
													</div>
												</div>
											</div>
											<div class="col-md-3" ng-hide="vm.oTrip.status=='Trip not started'">
												<div class="col-md-12 form-group m-b-5">
													<label class="col-sm-5">change status: </label>
													<div class="col-sm-6">
														<a href="" ng-hide="vm.oTrip.status=='Trip not started'" uib-tooltip="status update" ng-click="vm.myTripGrUpdate(vm.oTrip, oGr, $index)" tooltip-placement="bottom">
															<span class="glyphicon glyphicon-pencil"></span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
				</li>

				<li class="list-group-item" ng-if="!vm.oTrip.manualTracking">
				   <span class="booking_list_header">Trip Status History</span>
					<div class="card-body">
						<div class="row" style="margin:5px">
							<div class="col-md-12">
								<div class="detailsList">
									<div class="" style="overflow-y: auto; max-height: 500px;">
										<table class="table table-bordered unresponsive">
											<thead>
											<tr>
												<th>Trip Status</th>
												<th>Remark</th>
												<th>Date</th>
												<th>System Date</th>
												<th>Update By</th>
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat="oStatus in vm.tripHistory | orderBy: 'date'" class="pointer selectItem">
												<td>{{oStatus.status || 'NA'}}</td>
												<td>{{oStatus.remark || 'NA'}}</td>
												<td>{{oStatus.date | date:"dd-MMM-yyyy 'at' h:mma" || 'NA'}}</td>
												<td>{{oStatus.systemDate | date:"dd-MMM-yyyy 'at' h:mma" || 'NA'}}</td>
												<td>{{oStatus.user_full_name || 'NA'}}</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							</div>
						</div>
				</li>
				<li class="list-group-item" ng-if="vm.oTrip.ownershipType == 'Market' || vm.oTrip.manualTracking ">
					<form role="form" ng-submit="vm.filter(form)">
						<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
							<div class="date-picker input-group dp-blue">
								<input
									fill-date
									type="text"
									class="form-control"
									ng-model="vm.from"
									ng-change="vm.to = undefined"
									close-text="Close"
									placeholder="From Date"
									name="from"
									required
									style="padding: 0px 4px;height: 34px;" />

							</div>
						</div>

						<div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
							<div class="date-picker input-group dp-blue" >

								<input
									fill-date
									ng-click="vm.DatePicker.openDatePicker(this, $event, 'opened2')"
									type="text"
									class="form-control"
									ng-model="vm.to"
									close-text="Close"
									placeholder="To Date"
									name="To"
									required
									style="padding: 0px 4px;height: 34px;" />

							</div>
						</div>
						<div class="col-xs-6 m-b-5 col-sm-2 col-md-2 col-lg-2">
							<div class="fg-line">
								<input type="text"
									   ng-model="vm.address" name="address"
									   class="form-control input-sm"
									   placeholder="Address Search" style="height: 34px;font-size: 13px;">
							</div>
						</div>
						<div class="col-xs-6 m-b-5 col-sm-2 col-md-2 col-lg-2">
							<div class="">
								<button class="btn btn-primary"
										ng-click="vm.getAllLiveTrack()">Search
								</button>
							</div>
						</div>
						<div class="col-xs-6 m-b-5 col-sm-2 col-md-2 col-lg-2 pull-right">

							<div ng-if="!(role_local_data.diesel.indexOf('add')==-1)" style="margin-top: 5px;margin-bottom: -10px;float: right;font-size: 20px;">
								<a href="" uib-tooltip="Add Location" ng-click="vm.addMoreLocation()"  tooltip-placement="bottom" tooltip-append-to-body={{vm.oTrip.manualTracking}}>
									<i class="zmdi zmdi-plus"></i>
								</a>&nbsp;&nbsp;
								<a href="" uib-tooltip="Delete Live Track"
								   tooltip-placement="bottom"
								   tooltip-append-to-body={{vm.oTrip.manualTracking}}
								   ng-click="vm.deleteliveData(vm.selectedliveData)">
									<i class="zmdi zmdi-delete"></i>
								</a>&nbsp;&nbsp;
								<a href="" uib-tooltip="Download Live Track"
								   tooltip-placement="bottom"
								   tooltip-append-to-body={{vm.oTrip.manualTracking}}
								   ng-click="vm.downloadLiveTrackCsv()">
									<i class="zmdi zmdi-download zmdi-hc-fw"></i>
							    </a>
							</div>
						</div>&nbsp;
					</form>

					<div class="clearfix"></div>
					<span class="booking_list_header">Summary</span>
					<div class="col-md-12 m-b-0">
						<div class="lvh-label pull-left">
								<span class="c-black"><b>Vehicle Number:</b>
									<span style="margin-left: 10px; color: rgb(25, 6, 18);" class="ng-binding">
										{{vm.oTrip.vehicle_no || vm.oTrip.vehicle.vehicle_reg_no || NA}}
									</span>
								</span>&nbsp;&nbsp;&nbsp;&nbsp;
							<span class="c-black"><b>Trip Number:</b>
									<span style="margin-left: 10px; color: rgb(25, 6, 18);" class="ng-binding">
										{{vm.oTrip.trip_no ||vm.oTrip.vehicle.trip.trip_no ||NA}}
									</span>
								</span>&nbsp;&nbsp;
							<span class="c-black"><b>Route:</b>
									<span style="margin-left: 10px; color: rgb(25, 6, 18);" class="ng-binding">
										{{vm.oTrip.route_name ||vm.oTrip.vehicle.route_name || NA}}
									</span>
								</span>
							<span class="c-black"><b>Trip Start Date:</b>
									<span style="margin-left: 10px; color: rgb(25, 6, 18);" class="ng-binding">
										{{vm.oTrip.created_at ||vm.oTrip.vehicle.trip.trip_start_status.date | date:"dd-MMM-yyyy 'at' h:mma" || NA}}
									</span>
								</span>&nbsp; &nbsp;

							<span class="c-black"><b>Status:</b>
									<span style="margin-left: 10px; color: rgb(25, 6, 18);" class="ng-binding">
										{{vm.oTrip.status ||vm.oTrip.vehicle.status || NA}}
									</span>
								</span>
						</div>
					</div>

					<div class="clearfix"></div>
				</li>

				<li class="list-group-item" ng-if="vm.oTrip.ownershipType == 'Market' || vm.oTrip.manualTracking ">
					<span class="booking_list_header">Live Track Details</span>
					<div class="pull-right">
						<button class="btn btn-primary p-t-0 p-b-0 m-t-5 waves-effect pull-right" style="margin-bottom: 3px;  font-size: 16px;"
								ng-click="vm.plotMarketArry()">
							<i class="zmdi zmdi-view-column zmdi-hc-fw"></i>
						</button>
					</div>

					<!-----Start Detail View Listing-->
					<div class="detailsList" style="margin-top:10px;" ng-hide="vm.showMap">
						<div class="" style="overflow-y: auto; max-height: 550px;">
							<table class="table table-bordered unresponsive">
								<thead>
								<tr>
									<th>Date</th>
									<th>Address</th>
									<th>Status</th>
									<th>Remark</th>
									<th>Created By</th>
									<th>Entry Date</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="liveData in vm.aLiveTrackData"
									class="selectItem pointer"
									ng-click="vm.selectThisRow(liveData, $index)">
									<td>{{liveData.datetime | date:"dd-MMM-yyyy 'at' h:mma" || 'NA'}}</td>
									<td>{{liveData.address || "NA"}}</td>
									<td>{{liveData.status || "NA"}}</td>
									<td>{{liveData.remarks || "NA"}}</td>
									<td>{{liveData.created_by || "NA"}}</td>
									<td>{{liveData.created_at | date:"dd-MMM-yyyy 'at' h:mma" || 'NA'}}</td>
								</tr>
								</tbody>
							</table>
							<div class="pagi" style="text-align: center;" ng-show="vm.total_pages>1">
								<pagination ng-change="vm.pageChanged()"
											total-items="vm.totalItems" items-per-page="vm.items_per_page"
											num-pages="vm.numPages" ng-model="vm.currentPage"
											max-size="vm.maxSize" class="pagination-sm smallPagi"
											boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;"
											first-text="&laquo;" last-text="&raquo;">
								</pagination>
							</div>
						</div>
						<div ng-if="vm.aLiveTrackData.length == 0" class="ms-body" style=" min-height: 100px;">
							<h3>Data not available !!!!!</h3>
						</div>
					</div>
					<!-- END Detail View Listing-->
					<!-----Map View Start...-->
					<div class="card m-b-0 m-t-10 m-l-10 m-r-0" ng-show="vm.showMap"
						 style="background: none;box-shadow: none;width:98%;padding-bottom: 10px"
						 id="messages-main">

						<div class="card" style="height: 350px;"> <!-- overflow: auto-->
							<div style="position: relative; height: 100%">
								<div ng-if="!vm.showMap"
									 style="height: 100%;"
									 ui-view>
								</div>
								<div style="height: 100%;" ng-show="vm.showMap">
									<div class="card-body" id="mapViewLiveTracking" style="width:100%; height: 100%; z-index: 1;"></div>
								</div>
								<div class="absolutePosi pointer icon-wrapper"
									 ng-if="!vm.showMap"
									 ng-click="$parent.showMap=true; $parent.selectedIndex = null"
									 style="right: 0px;top: 0px;z-index: 1;font-size: 24px;margin: 5px; padding: 0px">
									<i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i>
								</div>
							</div>
						</div>
					</div>
					<!----END Map View-->
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-warning" ng-click="vm.close()">Close</button>
</div>
