	<form role="form" name="statusPopUp" autocomplete="off">
	<div class="modal-header">
		<button type="button" ng-click="closeModal()" class="close"
				data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" align="center">{{header}}</h4>
	</div>
	<div class="modal-body">
		<div class="justify col-md-12">
			<div class="row">
				<div class="col-md-12"
					 ng-if="adminAccess">
					<div class="col-md-12 m-b-10"><b>GR Status</b></div>
					<div class="col-md-12" style="margin-bottom: 50px;">
						<div class="detailsList">
							<div class="" style="overflow-y: auto; max-height: 500px;">
								<table class="table table-bordered unresponsive">
									<thead>
										<tr>
											<th>Status</th>
											<th>Remark</th>
											<th>Date</th>
											<th>Update By</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="oStatus in selectedData.statuses | orderBy: 'date'"
											ng-click="fillStatus(oStatus)"
											class="pointer selectItem">
<!--											<td>{{oStatus.status ? ((($constants.aGrStatuses)|filter:{key:oStatus.status})[0].label) : 'NA' }}</td>-->
											<td>{{oStatus.status}}</td>
											<td>{{oStatus.remark || 'NA'}}</td>
											<td>{{oStatus.date | date:"dd-MMM-yyyy 'at' h:mma" || 'NA'}}</td>
											<td>{{oStatus.user_full_name || 'NA'}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="form-group m-b-0">
						<label class="col-sm-6 control-label">Set Status</label>
						<div class="col-sm-6">
							<div class="select" ng-show="aStatuses">
								<select ng-model="status"
										class="form-control"
										placeholder="Select"
										ng-options="item.key as item.label for item in aStatuses">
									<option value=""> Set Status</option>
								</select>
							</div>
							<span ng-hide="aStatuses">{{status}}</span>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="form-group m-b-0">
						<label class="col-sm-2 control-label">Time</label>
						<div class="col-sm-4">
							<div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened1 == true }">
								<div class="fg-line" ng-class="{ 'fg-toggled': opened1 == true }">
									<input ng-click="DatePicker.openDatePicker(this, $event, 'opened1')"
										   type="text"
										   class="form-control"
										   min-date="selectedData.allocation_date"
										   max-date="DatePicker.newDate"
										   uib-datepicker-popup="{{DatePicker.formats[0]}}"
										   show-weeks="false"
										   ng-model="updated_status.date"
										   is-open="opened1"
										   datepicker-options="DatePicker.dateSettings"
										   close-text="Close"
										   style="padding: 0px 4px;height: 34px;"/>
								</div>
								<span class="input-group-btn">
									<button type="button"
											class="btn btn-default m-t-0 f12"
											ng-click="DatePicker.openDatePicker(this, $event, 'opened1')">
										<i class="glyphicon glyphicon-calendar"></i></button>
							  	</span>
							</div>
						</div>
						<label class="col-sm-1 control-label">HH</label>
						<div class="col-sm-2">
							<div class="select">
								<select ng-model="hourSel1" ng-options="sAlert as sAlert for sAlert in aHours" class="form-control" ng-change="changeTime1(hourSel1)">
								</select>
							</div>
						</div>
						<label class="col-sm-1 control-label">MM</label>
						<div class="col-sm-2">
							<div class="select">
								<select ng-model="minuteSel1" ng-options="sAlert as sAlert for sAlert in aMinutes" class="form-control"  ng-change="changeTime2(minuteSel1)">
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group m-b-0">
						<label class="col-sm-5 control-label">Remark</label>
						<div class="col-sm-7">
							<div class="fg-line">
								<input type="text" ng-model="updated_status.remark" placeholder="Remark..." class="form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6" ng-if="$configs.GR.statusLocation">
					<div class="form-group m-b-0">
						<label class="col-sm-4 control-label">Location</label>
						<div class="col-sm-7">
							<div class="fg-line">
								<input type="text" ng-model="updated_status.location2" placeholder="location..." class="form-control">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12"  ng-if="$configs && $configs.booking">
				     <div class="col-md-6"  ng-show="status =='Trip started' && $configs.booking && $configs.booking.odometer">
					     <div class="form-group m-b-0">
						    <label class="col-sm-5 control-label">Start Odometer</label>
						      <div class="col-sm-7">
						      	<div class="fg-line">
								      <input type="number" ng-model="updated_status.startOdo" placeholder="Enter Start Reading" class="form-control">
							   </div>
						  </div>
					</div>
				</div>
				<div class="col-md-6"ng-show="status =='Trip ended' && $configs.booking && $configs.booking.odometer">
					   <div class="form-group m-b-0">
					      	<label class="col-sm-5 control-label">End Odometer</label>
						        <div class="col-sm-7">
							          <div class="fg-line">
							           	<input type="number" ng-model="updated_status.endOdo" placeholder="Enter End Reading" class="form-control">
						         	</div>
						         </div>
				      	</div>
				    </div>
				</div>
			</div>
			<div class="clearfix"></div>
			<br>
		</div>
	</div>
	<!--<div class="modal-body" ng-if="tripDriverUpdate">
		<div class="justify col-md-12">
			<h4 ng-if="GRisInfo" style="color: green;">{{GRinfoMessage}}</h4><br>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group m-b-0">
						<label class="col-sm-4 control-label">Driver</label>
						<div class="col-sm-8">

							<select chosen class="form-control" ng-model="trip.driver_data" ng-change="selectDriver()"
									ng-options="item as item.name for item in aDriver" name="Driver Name">
								<option value=""></option>
							</select>

						</div>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
			<br>
		</div>
	</div>-->
	<div class="modal-footer">
		<button class="btn btn-success waves-effect"
				ng-disabled="!(status && updated_status.date)"
				ng-click="updateStatus()">Update Status
		</button>
		&nbsp;&nbsp;&nbsp;
		<button class="btn btn-warning" ng-click="closeModal()">Close</button>
	</div>
	<!--<div class="modal-footer" ng-if="tripDriverUpdate">
		<button class="btn btn-success waves-effect" ng-click="saveDriver()">Save Driver</button>
		&nbsp;&nbsp;&nbsp;
		<button class="btn btn-warning" ng-click="closeModal()">Close</button>
	</div>-->
</form>
<style type="text/css">
	.modal-dialog {
		width: 60%;
		height: 173px
	}

	.exced {
		margin-top: 20px;
		margin-left: 10px;
	}

	.exced div div .control-label {
		font-weight: bolder;
	}

	td, th {
		text-align: center;
	}

	.pac-container.pac-logo {
		z-index: 9999;
	}
</style>
