<!--controller: updateVehiclePopUpController-->
<!--controllerAs: uvVm-->

<form role="form" name="myTripPopUp" autocomplete="off">
	<div class="modal-header">
		<button type="button" ng-click="uvVm.closeModal()" class="close"
				data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" align="center">Trip No. {{uvVm.trip.trip_no}}</h4>
	</div>

	<div class="modal-body">
		<div class="justify col-md-12">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group m-b-0">
								<label class="col-sm-4 control-label">Vehicle</label>
								<div class="col-sm-8">
									<div class="lvh-search ng-scope sear">
										<input
												type="text"
												class="form-control lvhs-input"
												placeholder="Vehicle Search..."
												ng-model="uvVm.vehicle"
												typeahead-wait-ms="10"
												typeahead="item as (item.vehicle_reg_no  + ' (' + item.ownershipType[0] + ')') for item in uvVm.getVname($viewValue) | limitTo:10"
												typeahead-on-select="uvVm.onSelect($item, $model, $label)"
										>
										<i class="lvh-search-close" ng-click="uvVm.vehicle=''">×</i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group m-b-0">
								<label class="col-sm-6 control-label">Remark <span class="req_r">*</span></label>
								<div class="col-sm-6">
									<input type="text" class="form-control" ng-model="uvVm.remark" required>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<br>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success waves-effect" ng-click="uvVm.submit()">Update
		</button>
		&nbsp;&nbsp;&nbsp;
		<button class="btn btn-warning" ng-click="uvVm.closeModal()">Close</button>
	</div>
</form>
<style type="text/css">
	.modal-dialog {
		width: 50%;
		height: 173px
	}

	.exced {
		margin-top: 20px;
		margin-left: 10px;
	}

	.exced div div .control-label {
		font-weight: bolder;
	}

	td, th {
		text-align: center;
	}

	.pac-container.pac-logo {
		z-index: 9999;
	}
</style>
