  <div>
    <form name="jobCard" novalidate autocomplete="off">
      <div class="validationError" ng-show="JobCardErrMsgCond"><h5 class="c-red">* {{JobCardErrMsg}}</h5></div>
      <div class="col-md-12">
        <div class="row" style="margin:15px">
          <div class="col-md-4">
            <div class="form-group m-b-0">
              <label class="col-sm-6 control-label">Select Vehicle<span class="req_r">*</span></label>
              <div class="col-sm-6">
                <div class="select">
                  <select class="form-control" ng-options="item as item.vehicle_reg_no for item in vehiclesOwn" ng-model="objJobCard.vehicleFull" ng-change="onVehicleSelect()" name="vehicle" required>
                    <option value="" selected> Select Vehicle Type </option> 
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group m-b-0">
              <label class="col-sm-6 control-label">Last Trip No.</label>
              <div class="col-sm-6">
                <div class="fg-line">
                  <input type="text" class="form-control" ng-model="objJobCard.last_trip_number" ng-disabled="true">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group m-b-0">
              <label class="col-sm-6 control-label">Type of Job<span class="req_r">*</span></label>
              <div class="col-sm-6">
                <div class="select">
                  <select class="form-control"  placeholder="Select" ng-options="item as item for item in jobType" ng-model="objJobCard.job_type" required>
                    <option value="" selected> Select Type </option> 
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin:15px">
          <div class="col-md-4">
            <div class="form-group m-b-0">
              <label class="col-sm-6 control-label">Odometer Reading<span class="req_r">*</span></label>
              <div class="col-sm-6">
                <div class="fg-line">
                  <input type="number" class="form-control" ng-model="objJobCard.odometer_reading" required>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="form-group m-b-0">
              <label class="col-sm-6 control-label">HOM Name<span class="req_r">*</span></label>
              <div class="col-sm-6">
                <div class="fg-line">
                  <input type="number" class="form-control" ng-model="objJobCard.homId">
                </div>
                <div class="select">
                  <select class="form-control"  placeholder="Select" ng-options="item as item.short_name for item in aHOM" ng-model="objJobCard.hom" required>
                    <option value="" selected> Select Type </option> 
                  </select>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-md-4">
            <div class="form-group m-b-0">
              <label class="col-sm-6 control-label">Status</label>
              <div class="col-sm-6">
                <div class="select">
                  <select class="form-control"  placeholder="Select" ng-options="item as item for item in aStatus" ng-model="objJobCard.status">
                    <option value="" selected> Select Type </option> 
                  </select>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-md-4">
            <div class="form-group m-b-0">
              <label class="col-sm-6 control-label">Flag<span class="req_r">*</span></label>
              <div class="col-sm-6">
                <div class="select">
                  <select class="form-control"  placeholder="Select" ng-options="item as item for item in aFlag" ng-model="objJobCard.flag" required>
                    <option value="" selected> Select Flag </option> 
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin:15px">
          <div class="col-md-4">
            <div class="form-group m-b-0">
              <label class="col-sm-6 control-label">Driver name <span class="req_r">*</span></label>
              <div class="col-sm-6">
                <div class="fg-line">
                  <input type="text" class="form-control" ng-model="objJobCard.driver_name" required>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group m-b-0">
              <label class="col-sm-6 control-label">Type of maintenance<span class="req_r">*</span></label>
              <div class="col-sm-6">
                <div class="select">
                  <select class="form-control"  placeholder="Select" ng-options="item as item for item in aMainType" ng-model="objJobCard.maintenance_type" required>
                    <option value="" selected> Select Type </option> 
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin:15px">
          <div class="col-md-4">
            <div class="form-group m-b-0">
              <label class="col-sm-6 control-label">Vehicle In date</label>
              <div class="col-sm-6">
                <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened2 == true }">
                  <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }">
                    <input ng-click="open($event, 'opened2')" type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="vehicle_IN_Date" is-open="opened2" datepicker-options="dateOptions" close-text="Close" placeholder="Vehicle In date" style="padding: 0px 4px;height: 34px;" />
                  </div>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default m-t-0 f12" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="form-group m-b-0">
              <label class="col-sm-6 control-label">Job card open date</label>
              <div class="col-sm-6">
                <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened3 == true }">
                  <div class="fg-line" ng-class="{ 'fg-toggled': opened3 == true }">
                    <input ng-click="open($event, 'opened3')" type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="job_card_open_date" is-open="opened3" datepicker-options="dateOptions" close-text="Close" placeholder="card open date" style="padding: 0px 4px;height: 34px;" />
                  </div>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default m-t-0 f12" ng-click="open($event, 'opened3')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-md-4">
            <div class="form-group m-b-0">
              <label class="col-sm-6 control-label">Estimated release date</label>
              <div class="col-sm-6">
                <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened1 == true }">
                  <div class="fg-line" ng-class="{ 'fg-toggled': opened1 == true }">
                    <input ng-click="open($event, 'opened1')" type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="estimated_release_date" is-open="opened1" datepicker-options="dateOptions" close-text="Close" placeholder="release date" style="padding: 0px 4px;height: 34px;" />
                  </div>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default m-t-0 f12" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="m-l-30 col-md-11">
          <div class="form-group m-b-10 pull-right">
            <button type="submit" ng-click="addJobCard(jobCard)" class="btn btn-primary" style="margin-bottom: 12px;">Add Job Card</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <style type="text/css">
    .multiselect-parent ul.dropdown-menu.dropdown-menu-form {
        opacity: 1;
        transform: none;    overflow: auto !important;
    }
    .chosen-container-single .chosen-single{height: 28px;margin-top: -7px;}
  </style>
