<div class="container m-b-10">
    <div class="col-md-12 card m-b-0">
        <div class="lvh-label">
            <span class="c-black"><b>Broker Memo</b></span>
        </div>
    </div>
</div>
<!--  <div class="container"> -->
    <div class="card m-b-0 m-l-10 m-r-10" id="messages-main">
        <div class="" style=" min-height: 575px;">
            <div class="listview lv-message">
                <div class="lv-body">
                    <div class="col-md-12" style="min-height: 272px;">
                        <div class="clearfix"></div>
                        <form ng-submit="getAllBrokerMemo()" novalidate>
                            <div class="col-xs-6 m-b-5 col-sm-1 col-md-1 col-lg-1">
                                <div class="fg-line">
                                    <input type="number" ng-model="oFilter.trip_no" name="trip_no"
                                        class="form-control input-sm" placeholder="Trip No"
                                        ng-model-options="{ updateOn: 'blur' }" style="height: 34px;font-size: 13px;">
                                </div>
                            </div>
                            <div class="col-xs-6 m-b-5 col-sm-1 col-md-1 col-lg-1">
                                <div class="fg-line">
                                    <input type="text" ng-model="oFilter.bmNo" name="memo_no"
                                        class="form-control input-sm" placeholder="Broker Memo No"
                                        ng-model-options="{ updateOn: 'blur' }" style="height: 34px;font-size: 13px;">
                                </div>
                            </div>

							<div class="col-xs-6 m-b-5 col-sm-1 col-md-1 col-lg-1">
								<div class="fg-line">
									<input type="text" ng-model="oFilter.grNumber" name="grNumber"
										   class="form-control input-sm" placeholder="GR No"
										   ng-model-options="{ updateOn: 'blur' }"
										   style="height: 34px;font-size: 13px;">
								</div>
							</div>


                            <div class="col-xs-6 m-b-5 col-sm-2 col-md-2 col-lg-2">
                                <div class="lvh-search ng-scope sear chosen-row-1">
                                    <input type="text" placeholder="Vehicle Search..." ng-model="oFilter.vehicle"
                                        class="lvhs-input" typeahead-wait-ms="10"
                                        typeahead="item as item.vehicle_reg_no for item in aVehicles | filter:$viewValue"
                                        ng-change="getVname(oFilter.vehicle)" class="form-control">
                                    <i class="lvh-search-close" ng-click="oFilter.vehicle='';getAllTripSus()">×</i>
                                </div>
                            </div>

                            <div class="col-xs-6 m-b-5 col-sm-2 col-md-2 col-lg-2">
                                <div class="lvh-search ng-scope sear chosen-row-1">
                                    <input type="text" class="form-control lvhs-input" placeholder="Vendor Search..."
                                        ng-model="oFilter.vendor" typeahead-wait-ms="10"
                                        typeahead="item as item.name for item in aVendor | limitTo:6"
                                        ng-change="getVendorName(oFilter.vendor)">
                                    <i class="lvh-search-close" ng-click="oFilter.vendor=''">×</i>
                                </div>
                            </div>

                            <div class="col-xs-6 m-b-5 col-sm-2 col-md-2 col-lg-2">
                                <div class="lvh-search ng-scope sear chosen-row-1">
                                    <input type="text" class="form-control lvhs-input" placeholder="Branch Search..."
                                        ng-model="oFilter.branch" typeahead-wait-ms="10"
                                        typeahead="item as (item.name + '('+($configs.client_allowed|filter:{'clientId': item.clientId})[0].name+')') for item in getAllBranch($viewValue) | limitTo:6"
                                        typeahead-on-select="onBranchSelect($item, $model, $label)">
                                    <i class="lvh-search-close" ng-click="oFilter.branch='';">×</i>
                                </div>
                            </div>
                            <div class="col-xs-6 m-b-5 col-sm-2 col-md-2 col-lg-2">
                                <div class="lvh-search ng-scope sear chosen-row-2">
                                    <input type="text" class="form-control lvhs-input" placeholder="Customer Search..."
                                        ng-model="oFilter.customer" typeahead-wait-ms="10"
                                        typeahead="item as item.name for item in getCustomer($viewValue) | limitTo:6">
                                    <i class="lvh-search-close" ng-click="oFilter.customer='';">×</i>
                                </div>
                            </div>

							<div class="col-md-1">
								<div class="select">
									<select class="form-control" ng-model="oFilter.paymentStatus">
										<option value="">Payment Status</option>
										<option value="Settled">Settled</option>
										<option value="Pending">Pending</option>

									</select>
								</div>
							</div>

							<div class="clearfix"></div>

							<div class="col-xs-4 m-b-2 col-sm-1 col-md-2 col-lg-2">
								<div class="lvh-search ng-scope sear chosen-row-2">
									<input
											type="text"
											class="form-control lvhs-input"
											placeholder="Billing Search..."
											ng-model="oFilter.billingParty"
											typeahead-wait-ms="10"
											typeahead="item as item.name for item in getBilling($viewValue) | limitTo:6"
									>
									<i class="lvh-search-close" ng-click="oFilter.billingParty='';">×</i>
								</div>
							</div>


                            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                                <div class="date-picker input-group dp-blue"
                                    ng-class="{ 'is-opened': opened1 == true }">
                                    <div class="fg-line" ng-class="{ 'fg-toggled': opened1 == true }">
                                        <input ng-click="DatePicker.openDatePicker(this, $event, 'opened1')" type="text" class="form-control"
                                            uib-datepicker-popup="{{DatePicker.formats[0]}}" show-weeks="false"
                                            max-date="DatePicker.newDate" ng-model="oFilter.bMemoFromDate"
                                            is-open="opened1" datepicker-options="DatePicker.dateSettings" close-text="Close"
                                            placeholder="Memo From Date" style="padding: 0px 4px;height: 34px;" />
                                    </div>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default m-t-0 f12"
                                            ng-click="DatePicker.openDatePicker(this, $event, 'opened1')""><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                                <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened2 == true }"
                                    style=" ">
                                    <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }">
                                        <input ng-click="DatePicker.openDatePicker(this, $event, 'opened2')" type="text" class="form-control"
                                            uib-datepicker-popup="{{DatePicker.formats[0]}}" show-weeks="false"
                                            max-date="DatePicker.newDate" ng-model="oFilter.bMemoToDate" is-open="opened2"
                                            datepicker-options="DatePicker.dateSettings" close-text="Close"
                                            placeholder="Memo To Date" style="padding: 0px 4px; height: 34px;" />
                                    </div>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default m-t-0 f12"
                                            ng-click="DatePicker.openDatePicker(this, $event, 'opened2')"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                                <div class="date-picker input-group dp-blue"
                                    ng-class="{ 'is-opened': opened3 == true }">
                                    <div class="fg-line" ng-class="{ 'fg-toggled': opened3 == true }">
                                        <input ng-click="DatePicker.openDatePicker(this, $event, 'opened3')" type="text" class="form-control"
                                            uib-datepicker-popup="{{DatePicker.formats[0]}}" show-weeks="false"
                                            max-date="DatePicker.newDate" ng-model="oFilter.vehAllocFromDate"
                                            is-open="opened3" datepicker-options="DatePicker.dateSettings" close-text="Close"
                                            placeholder="Allocation From Date" style="padding: 0px 4px;height: 34px;" />
                                    </div>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default m-t-0 f12"
                                            ng-click="DatePicker.openDatePicker(this, $event, 'opened3')""><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                                <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened4 == true }"
                                    style=" ">
                                    <div class="fg-line" ng-class="{ 'fg-toggled': opened4 == true }">
                                        <input ng-click="DatePicker.openDatePicker(this, $event, 'opened4')" type="text" class="form-control"
                                            uib-datepicker-popup="{{DatePicker.formats[0]}}" show-weeks="false"
                                            max-date="DatePicker.newDate" ng-model="oFilter.vehAllocToDate" is-open="opened4"
                                            datepicker-options="DatePicker.dateSettings" close-text="Close"
                                            placeholder="Allocation To Date" style="padding: 0px 4px; height: 34px;" />
                                    </div>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default m-t-0 f12"
                                            ng-click="DatePicker.openDatePicker(this, $event, 'opened4')"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1">
									<div class="select">
										<select class="form-control" ng-model="oFilter.received">
											<option value="">POD status</option>
											<option value="Received">Received</option>
											<option value="Not Received">Not Received</option>
											<option value="POD Updated By">POD Updated By</option>
											<option value="Hard Copy">Hard Copy</option>
                                            <option value="Soft Copy">Soft Copy</option>
 										</select>
									</div>
								</div>
                                <!-- <div class="col-md-1">
                                    <div class="select">
                                      <select class="form-control" ng-model="oFilter.received">
                                        <option value="">POD Copy Status</option>
                                        <option value="Hard Copy">Hard Copy</option>
                                        <option value="Soft Copy">Soft Copy</option>
                                       </select>
                                    </div>
                                  </div> -->

                            <div class="col-md-2">
                                <div class="form-group m-b-0 ja-text-right">
                                    <button class="btn btn-primary p-t-0 p-b-0" type="button"
                                        style="margin-bottom: 3px;  font-size: 16px" uib-tooltip="Search"
                                        ng-click="getAllBrokerMemo()" tooltip-placement="bottom">
                                        <i class="zmdi zmdi-search zmdi-hc-fw"></i>
                                    </button>
                                    <button class="btn btn-primary p-t-0 p-b-0" type="button"
                                        style="margin-bottom: 3px;  font-size: 16px" uib-tooltip="Clear All"
                                        ng-click="oFilter={};getAllBrokerMemo();" tooltip-placement="bottom">
                                        <i class="zmdi zmdi-close zmdi-hc-fw"></i>
                                    </button>
									<button ng-hide="true" class="btn btn-primary p-t-0 p-b-0"
											type="button"
											style="margin-bottom: 3px;  font-size: 16px"
											uib-tooltip="Download Report"
											ng-click="getBrokerMemoReport('onTrip')"
											tooltip-placement="bottom">
										<i class="zmdi zmdi-download zmdi-hc-fw"></i>
									</button>
                                   <button class="btn btn-primary p-t-0 p-b-0"
											type="button"
											ng-if="aSelectedMemo && $role['Broker Memo']['Doc Upload Preview']"
											style="margin-bottom: 3px;  font-size: 16px"
											uib-tooltip="Upload Documents"
											ng-click="uploadDocs(aSelectedMemo)"
											tooltip-placement="bottom">
										<i class="zmdi zmdi-upload zmdi-hc-fw"></i>
									</button>

                                   <button class="btn btn-primary p-t-0 p-b-0"
											type="button"
											ng-if="aSelectedMemo && $role['Broker Memo']['Doc Upload Preview']"
											style="margin-bottom: 3px;  font-size: 16px"
											uib-tooltip="Preview Documents"
											ng-click="previewBuilty(aSelectedMemo)"
											tooltip-placement="bottom">
										<i class="zmdi zmdi-eye zmdi-hc-fw"></i>
									</button>

									<button class="btn btn-primary p-t-0 p-b-0"
											type="button"
											ng-if="aSelectedMemo && $role['Broker Memo']['Update']"
											style="margin-bottom: 3px;  font-size: 16px"
											uib-tooltip="Edit"
											ng-click="editBrokerMemo(aSelectedMemo)"
											tooltip-placement="bottom">
										<i class="zmdi zmdi-edit zmdi-hc-fw"></i>
									</button>
									<button class="btn btn-primary p-t-0 p-b-0"
											type="button"
											ng-if="aSelectedMemo && !aSelectedMemo.moneyReceiptRef.length && $role['Broker Memo']['multiPaymentReceipt']"
											style="margin-bottom: 3px;  font-size: 16px"
											uib-tooltip="Multi Received"
											ng-click="multiPaymentReceipt(aSelectedMemo)"
											tooltip-placement="bottom">
										<i class="zmdi zmdi-format-align-justify zmdi-hc-fw"></i>
									</button>
                                    <!-- <button class="btn btn-primary p-t-0 p-b-0" type="button"
                                        style="margin-bottom: 3px;  font-size: 16px" uib-tooltip="Download Excel"
                                        ng-disabled="disableDownloadBtn" ng-click="downloadReport()"
                                        tooltip-placement="bottom">
                                        <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                    </button> -->

                                </div>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                        <div class="pull-right">
<!--                            <span ng-if="aSelectedMemo"><a href="" uib-tooltip="Money Receipt" ng-click="mrOperation('preview')" tooltip-placement="bottom">-->
<!--                                <span class="zmdi zmdi-plus-square zmdi"></span>-->
<!--                            </a>&nbsp;&nbsp;</span>-->
                            <span ng-if="false && $role['GR']['Gr Ack'] && $configs.GR.grAck && aSelectedMemo.acknowledge">
                                <a href="" uib-tooltip="Gr Acknowledgement" ng-click="grAckRmk(aSelectedMemo)" tooltip-placement="bottom">
                            <span class="glyphicon glyphicon-check"></span>
                            </a>&nbsp;&nbsp;</span>
							<span ng-if="false && $role['GR']['Gr Ack'] && aSelectedMemo.acknowledge.status && $configs.GR.grAck"><a href="" uib-tooltip="revert Acknowledgement" ng-click="grAckRevert(aSelectedMemo)" tooltip-placement="bottom">
									<span class="glyphicon glyphicon-share-alt"></span>
								</a>&nbsp;&nbsp;</span>
							<span ng-if="$role['GR']['Gr Receive'] && $configs.GR.grReceive && aSelectedMemo"><a href="" uib-tooltip="Gr Receive" ng-click="grReceive(aSelectedMemo)" tooltip-placement="bottom">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </a>&nbsp;&nbsp;</span>
                            <span ng-if="false && aSelectedMemo"><a href="" uib-tooltip="Preview" ng-click="printBill(aSelectedMemo)"  tooltip-placement="bottom">
                                <span class="zmdi zmdi-print zmdi-hc-fw"></span>
                                </a>&nbsp;&nbsp;</span>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div ja-table table-body="aBrokerMemo" table-head="tableHead" table-height='500px'
                                    table-load="getAllBrokerMemo(true)" table-column-setting="columnSetting"
                                    table-selectable='selectType' table-api='tableApi'
                                    table-selectable-model="aSelectedMemo"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<style>
    .chosen-row-1 {
        z-index: 89;
    }

    tbody tr:hover {
        background: #dbd6d6;
    }

    .m-t-10 {
        margin-top: 10px;
    }
    .pull-right > span > a {
		font-size: 22px;
	}
</style>
