<!-- Controller: vendorDealPopUpController -->
<!-- ControllerAs: ebmVm -->

<div class="modal-header">
	<button type="button" ng-click="ebmVm.closeModal()" class="close"
			data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" align="center">
		<span class="c-black"><b>Broker Memo Details</b>
			<span style="margin-left: 10px; color: rgb(183, 183, 183);">
			</span>
		</span>
	</h4>
</div>


<form name="bMemoForm" ng-submit="ebmVm.submit(bMemoForm)" novalidate autocomplete="off">
	<div class="modal-body">
		<div class="justify col-md-12">
			<ul class="list-group list-group-flush">
				<!-- Basic DETAILS -->
				<li class="list-group-item">
					<span class="booking_list_header">BASIC DETAIL</span>
					<div class="card-body">
						<div class="row" style="margin:5px">
							 <div class="form-group col-md-3">
								<label class="col-sm-4 control-label">Branch: </label>
								<div class="col-sm-8">
									{{ebmVm.branch.name}}
								</div>
								 <br><span class="error"
									   ng-if="ebmVm.branch && !(ebmVm.branch.brokerMemoBook)">No BrokerMemo Book Linked to selected branch</span>
							</div>
                            <!-- <pre> {{$user | json}}</pre> -->
						<div class="col-md-3 form-group">
								<label class="col-sm-4 control-label">Customer: </label>
								<div class="col-md-8">
									{{$user.brokerCustName}}
								</div>
							</div>

							<div class="form-group col-md-3">
								<label class="col-sm-4 control-label">Billing Party: </label>
								<div class="col-md-8">
									{{$user.brokerbpName}}
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-3 control-label">POD Customer</label>
									<div class="col-sm-9">
										<input type="text"
											   class="form-control"
											   ng-model="ebmVm.oBrokerMemo.podCustomer"
											   >
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="margin:5px">
							<div ng-hide="true" class="form-group col-md-4">
								<div class="text-center booking_list_header m-t-5 label"><u><b>Consignor</b></u></div>
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<div class="lvh-search ng-scope sear chosen-row-1">
										<input type="text"
											   class="lvhs-input form-control"
											   placeholder="Consignor Search..."
											   ng-model="ebmVm.oBrokerMemo.consignor"
											   typeahead-wait-ms="10"
											   name="Consignor"
											   typeahead="item as item.name for item in ebmVm.getConsignor($viewValue)|limitTo:6"
											   typeahead-on-select="ebmVm.onConsignorSelectt($item, $model, $label)">
										<i class="lvh-search-close"
										   ng-click="ebmVm.oBrokerMemo.consignor = undefined;">×</i>
									</div>
								</div>
							</div>

							<div ng-hide="true" class="form-group col-md-4">
								<div class="text-center booking_list_header m-t-5 label"><u><b>Consignee</b></u></div>
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<div class="lvh-search ng-scope sear chosen-row-1">
										<input type="text"
											   class="lvhs-input form-control"
											   placeholder="Consignee Search..."
											   ng-model="ebmVm.oBrokerMemo.consignee"
											   typeahead-wait-ms="10"
											   name="Consignee"
											   typeahead="item as item.name for item in  ebmVm.getConsignee($viewValue)"
											   typeahead-on-select="ebmVm.onConsigneeSelect($item, $model, $label)">
										<i class="lvh-search-close"
										   ng-click="ebmVm.oBrokerMemo.consignee = undefined;">×</i>
									</div>
								</div>
							</div>

							<div class="form-group col-md-4">
								<div class="text-center booking_list_header m-t-5 label"><u><b>Transporter</b></u></div>
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<div class="lvh-search ng-scope sear chosen-row-1">
										<input type="text"
											   class="lvhs-input form-control"
											   placeholder="Transporter Search..."
											   ng-model="ebmVm.oBrokerMemo.vendorName"
											   typeahead-wait-ms="10"
											   name="Transporter"
											   typeahead="item as item.name for item in  ebmVm.getVendorName($viewValue) | limitTo:6"
											   typeahead-on-select="ebmVm.onVendorSelect($item, $model, $label)">
										<i class="lvh-search-close"
										   ng-click="ebmVm.oBrokerMemo.vendor = undefined;">×</i>
									</div>
								</div>
							</div>

							<div class="form-group col-md-4">
								<label class="col-sm-4 control-label">Vehicle Type: <span class="req_r">*</span></label>
								<div class="col-sm-8">
									<div class="fg-line">
										{{ebmVm.oGrData.vehicle.veh_type_name}}
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<label class="col-sm-4 control-label">Broker Memo Date: <span
										class="req_r">*</span></label></label>
								<div class="date-picker input-group dp-blue"
									 ng-class="{ 'is-opened': opened3 == true }">
									<div class="fg-line" ng-class="{ 'fg-toggled': opened3 == true }">
										<input ng-click="ebmVm.DatePicker.openDatePicker(this, $event, 'opened3')"
											   type="text"
											   class="form-control"
											   uib-datepicker-popup="{{ebmVm.DatePicker.formats[0]}}"
											   show-weeks="false"
											   ng-model="ebmVm.oBrokerMemo.date"
											   is-open="opened3"
											   datepicker-options="ebmVm.DatePicker.dateSettings"
											   close-text="Close"
											   placeholder="Memo Date"
											   name="Memo Date"
											   required
											   style="padding: 0px 4px;height: 34px;"/>
									</div>
									<span class="input-group-btn">
										<button type="button"
												class="btn btn-default m-t-0 f12"
												ng-click="ebmVm.DatePicker.openDatePicker(this, $event, 'opened3')">
											<i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</div>
								<div ng-if="ebmVm.isAcknowledge">
									{{ebmVm.oBrokerMemo.deal_at |date:"dd-MM-yyyy"}}
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Broker Memo No./ Slip N.1234 <span class="req_r">*</span></label>
									<div class="col-sm-8">
										<div class="fg-line chosen-row-1" style="display: inline-flex">
											<div style="z-index: 1; position: relative;">
												<input type="text"
													class="form-control"
													ng-model="ebmVm.oBrokerMemo.bmNo"
													typeahead-wait-ms="10"
													typeahead="item.bookNo as item.bookNo for item in ebmVm.getBillBookNo($viewValue)|limitTo:10"
													style="width: calc( 100% - 27px)"
													   typeahead-on-select="ebmVm.onBookNoSelect($item)">
													<i class="lvh-search-close"
															ng-click="ebmVm.oBrokerMemo.bMemo = '';">×</i>
														<i class="lvh-search-close zmdi zmdi-refresh zmdi-hc-fw"
															style="right: -20px; background: #3096f3;"
															uib-tooltip="Auto"
															ng-click="ebmVm.getBillBookNo('auto')"></i>
														<i class="lvh-search-close zmdi zmdi-plus-circle zmdi-hc-fw" ng-if="!(ebmVm.readonly || ebmVm.selectedGr.invToBill)"
															style="right: -45px; background: #3096f3;"
															uib-tooltip="Centrailized"
															ng-click="ebmVm.getBillBookNo('centrailized')"></i>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="clearfix"></div>

							<div class="col-md-4">
								<label class="col-sm-3 control-label">Gr Date: </label></label>
								<div class="date-picker input-group dp-blue"
									 ng-class="{ 'is-opened': opened4 == true }">
									<div class="fg-line" ng-class="{ 'fg-toggled': opened4 == true }">
										<input ng-click="ebmVm.DatePicker.openDatePicker(this, $event, 'opened4')"
											   type="text"
											   class="form-control"
											   uib-datepicker-popup="{{ebmVm.DatePicker.formats[0]}}"
											   show-weeks="false"
											   ng-model="ebmVm.oGrData.grDate"
											   is-open="opened4"
											   datepicker-options="ebmVm.DatePicker.dateSettings"
											   close-text="Close"
											   placeholder="Gr Date"
											   name="Gr Date"
											   required
											   style="padding: 0px 4px;height: 34px;"/>
									</div>
									<span class="input-group-btn">
										<button type="button"
												class="btn btn-default m-t-0 f12"
												ng-click="ebmVm.DatePicker.openDatePicker(this, $event, 'opened4')">
											<i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group m-b-0">
									<label class="col-sm-2 control-label">Gr No.:</label>
									<div class="col-sm-10">
										<div class="fg-line chosen-row-1" style="display: inline-flex">
											<div style="z-index: 1; position: relative;">
												<input type="text"
													   class="form-control"
													   ng-model="ebmVm.oGrData.grNumber"
													   typeahead-wait-ms="10"
													   typeahead="item as item.bookNo for item in ebmVm.getGrBookNo($viewValue)|limitTo:10"
													   typeahead-on-select="ebmVm.onGrBookSelect($item, $model, $label);"
													   style="width: calc( 100% - 27px)">
												<i class="lvh-search-close"
												   ng-click="ebmVm.grNumber = '';">×</i>
												<i class="lvh-search-close zmdi zmdi-refresh zmdi-hc-fw"
												   style="right: -20px; background: #3096f3;"
												   uib-tooltip="Auto"
												   ng-click="ebmVm.getGrBookNo('auto')"></i>
												<i class="lvh-search-close zmdi zmdi-plus-circle zmdi-hc-fw" ng-if="$role['GR']['Centralize Book']"
												   style="right: -45px; background: #3096f3;"
												   uib-tooltip="Centrailized"
												   ng-click="ebmVm.getGrBookNo('centrailized')"></i>
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="col-md-4">
								<div class="form-group m-b-0">
									<label class="col-sm-3 control-label">Remark</label>
									<div class="col-sm-9">
										<input type="text"
											   class="form-control"
											   ng-model="ebmVm.oBrokerMemo.remark"
											   ng-readonly="ebmVm.isAcknowledge">
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Source</label>
									<div class="col-sm-8">
										<div class="lvh-search ng-scope sear">
											<input type="text"
											placeholder="Source"
											ng-model="ebmVm.oGrData.acknowledge.source"
											class="lvhs-input"
											typeahead-wait-ms="10"
											typeahead="item.c as item.c for item in ebmVm.getRoute($viewValue) | limitTo: 15"
											class="form-control"
											typeahead-on-select="ebmVm.oGrData.acknowledge.billedSource= ebmVm.selectedGr.acknowledge.source"
											name="Source">
											<i class="lvh-search-close"
											ng-init ="ebmVm.oGrData.acknowledge.source = (ebmVm.oGrData.acknowledge.source)? ebmVm.oGrData.acknowledge.source: ebmVm.oGrData.trip.route_name.split(' to ')[0] ||ebmVm.oGrData.trip.rName.split(' to ')[0]"
											ng-click="ebmVm.oGrData.acknowledge.source=''">×</i>
										</div>
										<span ng-if="etmVm.readonly">{{ebmVm.oGrData.acknowledge.source}}</span>
									</div>
								</div>
								</div>
	
								<div class="col-md-3">
									<div class="form-group m-b-0">
									   <label class="col-sm-4 control-label">Destination</label>
									   <div class="col-sm-8">
										  <div class="lvh-search ng-scope sear">
											 <input type="text"
												placeholder="Destination"
												ng-model="ebmVm.oGrData.acknowledge.destination"
												class="lvhs-input"
												typeahead-wait-ms="10"
												typeahead="item.c as item.c for item in ebmVm.getRoute($viewValue) | limitTo: 15"
												class="form-control"
												typeahead-on-select="ebmVm.oGrData.acknowledge.billedDestination=ebmVm.oGrData.acknowledge.destination"
												name="Destination"
												ng-init ="ebmVm.oGrData.acknowledge.destination = (ebmVm.oGrData.acknowledge.destination) ? ebmVm.oGrData.acknowledge.destination :  ebmVm.oGrData.trip.route_name.split(' to ')[1] || ebmVm.oGrData.trip.rName.split(' to ')[1]"
												>
											 <i class="lvh-search-close"
												ng-click="ebmVm.oGrData.acknowledge.destination=''">×</i>
										  </div>
										  <span
											 ng-if="etmVm.readonly">{{etmVm.oGrData.acknowledge.destination}}</span>
									   </div>
									</div>
								</div>

						</div>
					</div>
				</li>

				<!--VENDOEDEAL DETAILS-->
				<li class="list-group-item">
					<span class="booking_list_header">PAYMENT DETAIL</span>
					<div class="card-body">
						<div class="row" style="margin:5px">
							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Payment Type: <span
											class="req_r">*</span></label>
									<div class="col-sm-6" ng-if="!ebmVm.isAcknowledge">
										<div class="select chosen-row-2">
											<select class="form-control"
													ng-model="ebmVm.oBrokerMemo.payment_type"
													ng-options="item as item for item in $constants.paymentType"
													ng-change="ebmVm.changePayType(ebmVm.oBrokerMemo.payment_type);ebmVm.resetAll()"
													required>
											</select>
										</div>
									</div>
									<div class="col-sm-6" ng-if="ebmVm.isAcknowledge">
										{{ebmVm.oBrokerMemo.payment_type}}
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Payment Basis: <span
											class="req_r">*</span></label>
									<div class="col-sm-6" ng-if="!ebmVm.isAcknowledge">
										<div class="select">
											<select class="form-control"
													ng-options="item as item for item in ebmVm.aWeightTypes"
													ng-model="ebmVm.oBrokerMemo.weight_type"
													name="Weight Type"
													ng-change="ebmVm.resetAll()"
													required>
												<option selected disabled value="">Select</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6" ng-if="ebmVm.isAcknowledge">
										{{ebmVm.oBrokerMemo.weight_type}}
									</div>
								</div>
							</div>

						</div>

						<div class="row" style="margin:5px"
							 ng-if="ebmVm.oBrokerMemo.weight_type === 'Percentage'">
							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Percentage: <span
											class="req_r">*</span></label>
									<div class="col-sm-6" ng-if="!ebmVm.isAcknowledge">
										<div class="select">
											<select class="form-control"
													ng-options="item as (item + '%') for item in [70,75,80,85,90,95]"
													ng-model="ebmVm.oBrokerMemo.weightPercent"
													name="Weight Type"
													ng-change="ebmVm.changeAdvance()"
													required>
												<option selected disabled value="">Select</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6" ng-if="ebmVm.isAcknowledge">
										{{ebmVm.oBrokerMemo.weightPercent}}
									</div>
								</div>
							</div>
						</div>


						<div class="clearfix"></div>

						<div class="row" style="margin:5px"
							 ng-if="ebmVm.oBrokerMemo.weight_type === 'PMT'">
							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">PMT Weight: <span
											class="req_r">*</span></label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input
													type="number"
													class="form-control"
													placeholder="enter here..."
													ng-change="ebmVm.calculateTotalPMT();ebmVm.autoMunsiyanaCal();"
													ng-model="ebmVm.oBrokerMemo.pmtWeight"
													ng-required="ebmVm.oBrokerMemo.weight_type === 'PMT'"
													ng-readonly="ebmVm.isAcknowledge"
											>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-if="ebmVm.oBrokerMemo.weight_type === 'PMT'">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">PMT Rate: <span class="req_r">*</span></label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input
													type="number"
													class="form-control"
													placeholder="enter here..."
													ng-change="ebmVm.calculateTotalPMT();ebmVm.autoMunsiyanaCal();"
													ng-model="ebmVm.oBrokerMemo.pmtRate"
													ng-required="ebmVm.oBrokerMemo.weight_type === 'PMT'"
													ng-readonly="ebmVm.isAcknowledge"
											>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3"  ng-if="ebmVm.oBrokerMemo.weight_type === 'PMT' && $configs.vendorDeal.otherExp">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Other Exp </label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   class="form-control"
												   ng-model="ebmVm.oBrokerMemo.otherExp"
												   ng-readonly="ebmVm.isAcknowledge"
												   placeholder="Other Exp">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row" style="margin:5px"
							 ng-if="ebmVm.oBrokerMemo.weight_type === 'PUnit'">
							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">No. of boxes: <span
											class="req_r">*</span></label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input
													type="number"
													class="form-control"
													placeholder="enter here..."
													ng-change="ebmVm.calculateTotalPUnit();ebmVm.autoMunsiyanaCal();"
													ng-model="ebmVm.oBrokerMemo.perUnitPrice"
													ng-required="ebmVm.oBrokerMemo.weight_type === 'PUnit'"
													ng-readonly="ebmVm.isAcknowledge"
											>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Price per box: <span
											class="req_r">*</span></label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input
													type="number"
													class="form-control"
													placeholder="enter here..."
													ng-change="ebmVm.calculateTotalPUnit();ebmVm.autoMunsiyanaCal()"
													ng-model="ebmVm.oBrokerMemo.totalUnits"
													ng-required="ebmVm.oBrokerMemo.weight_type === 'PUnit'"
													ng-readonly="ebmVm.isAcknowledge"
											>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row" style="margin:15px"
							 ng-if="ebmVm.oBrokerMemo.weight_type">
							<div class="col-md-4">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Total: <span class="req_r">*</span></label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input
													type="number"
													class="form-control"
													ng-change="ebmVm.changeAdvance('total');ebmVm.changeAcPayment();ebmVm.autoMunsiyanaCal()"
													ng-model="ebmVm.oBrokerMemo.rate"
													ng-readonly="ebmVm.oBrokerMemo.weight_type === 'PMT' || ebmVm.oBrokerMemo.weight_type === 'PUnit' || ebmVm.isAcknowledge"
													required>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Munshiyana </label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   ng-change="ebmVm.changeAdvance('munshiyana');ebmVm.changeAcPayment();"
												   class="form-control"
												   ng-model="ebmVm.oBrokerMemo.munshiyana"
												   ng-readonly="ebmVm.isAcknowledge"
												   placeholder="enter here...">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Total With Munshiyana: </label>
									<div class="col-sm-6">
										<div class="fg-line">
											{{ebmVm.oBrokerMemo.total}}
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>

							<div class="col-md-4">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Advance <span
											class="req_r">*</span></label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   ng-change="ebmVm.changeAdvance('advance');ebmVm.changeAcPayment()"
												   class="form-control"
												   ng-model="ebmVm.oBrokerMemo.advance"
												   placeholder="enter here..."
												   name="advance"
												   ng-readonly="(ebmVm.oBrokerMemo.payment_type==='To pay' || ebmVm.oBrokerMemo.payment_type === 'To be billed' || ebmVm.isAcknowledge)"
												   required>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">TDS Amount: </label>
									<div class="col-sm-6">
										<div class="fg-line">
											{{(ebmVm.tdsAmount = ebmVm.oBrokerMemo.tdsAmount =
											('ceil'|NumberUtilFilter:((ebmVm.oBrokerMemo.totWithMunshiyana
											|| 0) * (ebmVm.oBrokerMemo.tdsPercent || 0) / 100)))|roundOff}}
											<!--<span ng-hide="true">{{ebmVm.tdsAccount = $clientConfigs.accountDetails.tdsPayable}}</span>-->
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">To Pay/Balance: <span
											class="req_r">*</span></label>
									<div class="col-sm-6">
										<div class="fg-line">
											{{ebmVm.oBrokerMemo.toPay =
											(((ebmVm.oBrokerMemo.total || 0) -
											(ebmVm.oBrokerMemo.advance || 0) - (ebmVm.tdsAmount ||
											0))|roundOff:0:0)}}
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<!-- <hr> -->
							 <div class="col-md-4">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Total Charges:</label>
									<div class="col-sm-6">
										{{(ebmVm.oBrokerMemo.totalCharges =
											(ebmVm.oBrokerMemo.charges | sumOfGrChargesWithTax:grUVm.__FormList)) | roundOff}}

									</div>
								</div>
							</div>

							 <div class="col-md-4">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Total Deduction: </label>
									<div class="col-sm-6">
										<div class="fg-line">
											{{(ebmVm.oBrokerMemo.totalDeduction =
												(ebmVm.oBrokerMemo.deduction | sumOfGrChargesWithTax:grUVm.__FormList)) | roundOff}}
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Total Payable:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											{{ebmVm.oBrokerMemo.totalDeal = (ebmVm.oBrokerMemo.totalFreight - (bMemoVm.aTripData.vendorDeal.advance || 0)) | roundOff}}
										</div>
									</div>
								</div>
							</div>

							<div class="clearfix"></div>

							 <div class="col-md-4" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-6 control-label">Remaining Amt:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											{{(ebmVm.oBrokerMemo.remainingAmount = (ebmVm.oBrokerMemo.totalDeal
											- (ebmVm.oBrokerMemo.tRecv || 0))) | roundOff}}
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>

					</div>
				</li>
				<!-- Charges DETAILS -->
				<li class="list-group-item podDetail">
					<span class="booking_list_header">CHARGES  DETAIL</span>
					<div class="card-body">
						<div class="row" style="margin:5px">

							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Loading Charges :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ebmVm.oGrData.charges.loading_charges"
												   class="form-control"
												   name="loading_charges"
											>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Unloading Charges :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ebmVm.oGrData.charges.unloading_charges"
												   class="form-control"
												   name="unloading_charges"
											>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Dala Charge :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ebmVm.oGrData.charges.dala_charges"
												   name="dala_charges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Kanta Charge:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.kanta_charges"
												   name="kanta_charges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

							<!-- <div class="clearfix" ></div> -->
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Toll Charge :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.toll_charges"
												   name="toll_charges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">GR Charge :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.grCharges"
												   name="grCharges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Green Tax :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.green_tax"
												   name="green_tax"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label"
										   style="overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">Two
										Point Delivery :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.twoPtDelivery"
												   name="twoPtDelivery"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="clearfix"></div> -->

							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Diesel Charge:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.diesel_charges"
												   name="diesel_charges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Surcharge :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.surCharges"
												   name="surCharges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Cartage Charge:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.cartageCharges"
												   name="cartageCharges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Labour Charge:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.labourCharges"
												   name="labourCharges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="clearfix"></div> -->

							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Prev Freight Charge:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.prevFreightCharges"
												   name="prevFreightCharges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Other Charge:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ebmVm.oGrData.charges.other_charges"
												   name="other_charges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Weightman Charge:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.weightman_charges"
												   name="weightman_charges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Overweight Charge:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.overweight_charges"
												   name="overweight_charges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="clearfix"></div> -->

							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Extra Running:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.extra_running"
												   name="extra_running"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Factory Halt:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.factory_halt"
												   name="factory_halt"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Company Halt:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.charges.company_halt"
												   name="company_halt"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
<!--							<div class="col-md-3">-->
<!--								<div class="form-group m-b-0">-->
<!--									<label class="col-sm-4 control-label">Total Charges:</label>-->
<!--									<div class="col-sm-6">-->
<!--										{{(ackDealVm.oBrokerMemo.totalCharges =-->
<!--											(ackDealVm.oBrokerMemo.charges | sumOfGrChargesWithTax:grUVm.__FormList)) | roundOff}}-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
							<div class="clearfix"></div>

						</div>
					</div>
				</li>

				<!-- Deduction DETAILS -->
				<li class="list-group-item podDetail">
					<span class="booking_list_header">DEDUCTION  DETAIL</span>
					<div class="card-body">
						<div class="row" style="margin:5px">
							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Penalty:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.deduction.penalty"
												   name="penalty"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Shortage Charge:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.deduction.shortage"
												   name="shortage"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Damage Charge:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.deduction.damage"
												   name="damage"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Discount:</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.deduction.discount"
												   name="discount"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="clearfix"></div> -->

							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Advance Charges :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.deduction.advance_charges"
												   name="advance_charges"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">TT Delay :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.deduction.ttDelay"
												   name="ttDelay"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Comission :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ebmVm.oGrData.deduction.comission"
												   name="comission"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Builty Charge :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ebmVm.oGrData.deduction.builty"
												   name="builty"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Driver Advance :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ebmVm.oGrData.deduction.driver_advance"
												   name="driver_advance"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Other Expense :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ebmVm.oGrData.deduction.other_expense"
												   name="other_expense"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Dala and Labour Challan :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ebmVm.oGrData.deduction.dala_labour_challan"
												   name="dala_labour_challan"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">TDS :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ebmVm.oBrokerMemo.deduction.tds"
												   name="ttDelay"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

							<!-- <div class="clearfix"></div> -->

							<div class="col-md-3" ng-hide="true">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Mamul :</label>
									<div class="col-sm-6">
										<div class="fg-line">
											<input type="number"
												   onkeypress="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 46 && event.charCode <= 57"
												   onwheel="return false"
												   onkeydown="return ((event.which != 40) && (event.charCode == 8 || event.charCode == 0 || event.charCode == 13)) ? null : event.charCode >= 48 && event.charCode <= 57"
												   ng-model="ackDealVm.oBrokerMemo.deduction.mamul"
												   name="ttDelay"
												   class="form-control">
										</div>
									</div>
								</div>
							</div>

<!--							<div class="col-md-3">-->
<!--								<div class="form-group m-b-0">-->
<!--									<label class="col-sm-4 control-label">Total Deduction:</label>-->
<!--									<div class="col-sm-6">-->
<!--										{{(ackDealVm.oBrokerMemo.totalDeduction =-->
<!--											(ackDealVm.oBrokerMemo.deduction | sumOfGrChargesWithTax:grUVm.__FormList)) | roundOff}}-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->

							<!-- <div class="clearfix"></div> -->

							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Basic Freight:</label>
									<div class="col-sm-6">
										<span>{{(ebmVm.oBrokerMemo.basicFreight = (ebmVm.oBrokerMemo.total)) | roundOff}}</span>
									</div>
								</div>
							</div>




							<div class="col-md-3">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Total Freight:</label>
									<div class="col-sm-6" ng-hide="true">
										{{(ebmVm.oBrokerMemo.totalFreight = (ebmVm.oBrokerMemo.basicFreight +
											ebmVm.oBrokerMemo.totalCharges - ebmVm.oBrokerMemo.totalDeduction)) | roundOff}}
									</div>
									<div class="col-sm-6">
										{{ebmVm.totalFreight = (ebmVm.oBrokerMemo.basicFreight +
											ebmVm.oBrokerMemo.totalCharges - ebmVm.oBrokerMemo.totalDeduction) | roundOff}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="modal-footer">
		<button ng-disabled="isDisable"
				class="btn btn-primary">SUBMIT
		</button>
		<button ng-if="isShowTripMemo" class="btn btn-danger"
				type="button"
				ng-click="resetForm()">Reset Form
		</button>
		<button class="btn btn-warning"
				type="button"
				ng-click="ebmVm.closeModal()">Close
		</button>
	</div>
</form>

<style>
	.chosen-row-1 {
		z-index: 1;
	}

	.chosen-row-2 {
		z-index: 0;
	}

	.chosen-row-3 {
		z-index: auto;
	}

	.container {
		width: 98% !important;
	}

	label {
		font-weight: bold !important;
	}

</style>
