<form role="form"  name="newIssueAdd" autocomplete="off" novalidate>
  <div class="modal-header" >
    <button type="button" ng-click="closeModal()" class="close"
    data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" align="center">Do you want to complete inward?</h4><br>
  </div>
  <div class="modal-body">
    <div class="row" style="margin:15px">
      
    </div>
    
  </div>    
  <div class="modal-footer">
    <button class="btn btn-success waves-effect"  ng-click="invFinalSubmit()">complete inward</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-warning" ng-click="invFinalCancel()">Partial Inward</button>
  </div>  
</form> 
