<form role="form"  name="tyreCard" autocomplete="off" novalidate>
  <div class="modal-header" >
    <button type="button" ng-click="closeModal()" class="close"
    data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" align="center">Tyre Issue Done</h4><br>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <style type="text/css">
    .modal-backdrop.in{z-index:9 !important;}
    .modal-open .modal{z-index:99 !important;}
  </style>
  <div class="modal-body">
    <div class="row" style="margin:15px">
      <div class="col-sm-12">
        <div class="form-group m-b-0">
          <h4>{{response.message}}</h4>
          <p>Do you want to download issue slip?</p>

          <a class="pointer btn btn-success waves-effect" ng-click="downloadPDF()">Download</a>
          <a class="pointer btn btn-warning waves-effect" ng-click="closeModal()">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</form> 

