<form role="form"  name="returnF" autocomplete="off" novalidate>
  <div class="modal-header" >
    <button type="button" ng-click="closeModal()" class="close"
    data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" align="center">Tyre Return</h4><br>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <style type="text/css">
    .modal-backdrop.in{z-index:9 !important;}
    .modal-open .modal{z-index:99 !important;}
  </style>
  <div class="modal-body">
    <div class="row" style="margin:15px">
      <div class="col-sm-6">
        <div class="form-group m-b-0">
          <label class="col-sm-4 control-label">Tyre Number:</label>
          <div class="col-sm-6">
            <!-- <div ng-if="!returnClick" class="select">
              <select class="form-control" placeholder="Select" ng-options="item.tyre_number as item.tyre_number for item in aTyres" ng-model="tyre.tyre_number">
                <option value="" selected> Select type</option>
              </select>
            </div> -->
            <label>{{tyre.tyre_number}}</label>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group m-b-0">
          <label class="col-sm-4 control-label">Vendor:</label>
          <div class="col-sm-6">
            <!-- <div ng-if="!returnClick" class="select">
              <select class="form-control" placeholder="Select" ng-options="item as item.name for item in aVendors" ng-model="tyre.vendor">
                <option value="" selected> Select Vendor</option>
              </select>
            </div> -->
            <label>{{tyre.vendor_name}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin:15px">
      <div class="col-sm-6">
        <div class="form-group m-b-0">
          <label class="col-sm-4 control-label">Issue Date:</label>
          <div class="col-sm-6">
            <!-- <div ng-if="!returnClick" class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened3 == true }">
              <div class="fg-line" ng-class="{ 'fg-toggled': opened3 == true }">
                <input ng-click="open($event, 'opened3')" type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="tyre.issue_date" is-open="opened3" datepicker-options="dateOptions" close-text="Close" placeholder=" Issue date" style="padding: 0px 4px;height: 34px;" />
              </div>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default m-t-0 f12" ng-click="open($event, 'opened3')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div> -->
            <label>{{tyre.issue_date | date:'dd-MM-yyyy'}}</label>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group m-b-0">
          <label class="col-sm-4 control-label">Expected Return Date:</label>
          <div class="col-sm-6">
            <!-- <div ng-if="!returnClick" class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened2 == true }">
              <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }">
                <input ng-click="open($event, 'opened2')" type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="tyre.expected_return_date" is-open="opened2" datepicker-options="dateOptions" close-text="Close" placeholder="Return date" style="padding: 0px 4px;height: 34px;" ng-readonly="returnClick"/>
              </div>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default m-t-0 f12" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div> -->
            <label>{{tyre.expected_return_date | date:'dd-MM-yyyy'}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin:15px">
      <div class="col-sm-6">
        <div class="form-group m-b-0">
          <label class="col-sm-4 control-label">Issue Slip Number:</label>
          <div class="col-sm-6">
            <!-- <div class="fg-line">
              <input ng-readonly="returnClick" type="text" class="form-control" ng-model="tyre.issue_slip_no" placeholder="slip no...">
            </div> -->
            <label>{{tyre.issue_slip_no || 'NA'}}</label>
          </div>
        </div>
      </div>
    </div>
    <!--***** retrun code *****-->
    <div class="row" style="margin:15px">
      <div class="col-sm-6">
        <div class="form-group m-b-0">
          <label class="col-sm-4 control-label">Return Status<span class="req_r">*</span>:</label>
          <div class="col-sm-6">
            <div class="select">
              <select class="form-control" placeholder="Select" ng-options="item as item for item in aRetStatus" ng-change="retStatusSel(retStatus)" ng-model="retStatus" required>
                <option value="" selected> Select status</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="row" style="margin:15px">
        <div class="col-sm-6">
          <div class="form-group m-b-0">
            <label class="col-sm-4 control-label">Return Date:</label>
            <div class="col-sm-6">
              <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened4 == true }">
                <div class="fg-line" ng-class="{ 'fg-toggled': opened4 == true }">
                  <input ng-click="open($event, 'opened4')" type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="tyre.return_date" is-open="opened4" datepicker-options="dateOptions" close-text="Close" placeholder=" Return date" style="padding: 0px 4px;height: 34px;" />
                </div>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default m-t-0 f12" ng-click="open($event, 'opened4')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group m-b-0">
            <label class="col-sm-4 control-label">Bill Date<span class="req_r">*</span>:</label>
            <div class="col-sm-6">
              <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened5 == true }">
                <div class="fg-line" ng-class="{ 'fg-toggled': opened5 == true }">
                  <input ng-click="open($event, 'opened5')" type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="tyre.bill_date" is-open="opened5" datepicker-options="dateOptions" close-text="Close"  ng-required="failed" placeholder=" Bill date" style="padding: 0px 4px;height: 34px;" />
                </div>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default m-t-0 f12" ng-click="open($event, 'opened5')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin:15px">
        <div class="col-sm-6">
          <div class="form-group m-b-0">
            <label class="col-sm-4 control-label">Bill Number<span class="req_r">*</span>:</label>
            <div class="col-sm-6">
              <div class="fg-line">
                <input type="text" class="form-control" ng-model="tyre.bill_no" placeholder="bill no..." ng-required="failed">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group m-b-0">
            <label class="col-sm-4 control-label">Cost<span class="req_r">*</span>:</label>
            <div class="col-sm-6">
              <div class="fg-line">
                <input type="text" class="form-control" ng-model="tyre.cost" placeholder="cost"  ng-required="failed">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin:15px">
        <div class="col-sm-6">
          <div class="form-group m-b-0">
            <label class="col-sm-4 control-label">Tax<span class="req_r">*</span>:</label>
            <div class="col-sm-6">
              <div class="fg-line">
                <input type="text" class="form-control" ng-model="tyre.tax" placeholder="tax"  ng-required="failed">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group m-b-0">
            <label class="col-sm-4 control-label">Freight<span class="req_r">*</span>:</label>
            <div class="col-sm-6">
              <div class="fg-line">
                <input type="text" class="form-control" ng-model="tyre.freight" placeholder="freight"  ng-required="failed">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin:15px">
        <div class="col-sm-6">
          <div class="form-group m-b-0">
            <label class="col-sm-4 control-label">Total Cost<span class="req_r">*</span>:</label>
            <div class="col-sm-6">
              <div class="fg-line">
                <input type="text" class="form-control" ng-model="tyre.total_cost" placeholder="total_cost"  ng-required="failed">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group m-b-0">
            <label class="col-sm-4 control-label">Status:</label>
            <div class="col-sm-6">
              <div class="select">
                <select class="form-control" placeholder="Select" ng-options="item as item for item in aSts" ng-model="tyre.tyreMasterStatus">
                  <option value="" selected> Select status</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
	  <div class="row" style="margin:15px">
		<div class="col-sm-6">
				<div class="form-group m-b-0">
					<label class="col-sm-4 control-label">Remark:</label>
					<div class="col-sm-6">
						<div class="fg-line">
							<input type="text" class="form-control" ng-model="tyre.rRemark" placeholder="total_cost"  ng-required="failed">
						</div>
					</div>
				</div>
			</div>
	  </div>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="returnF.$invalid" type="submit" ng-click="return(tyre)" class="btn btn-success" style="margin-bottom: 12px;">Return</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-warning" ng-click="closeModal()" style="margin-bottom: 12px;">Close</button>
  </div>
</form>
<style type="text/css">
  .modal-dialog {width: 75%;
      height: 173px
  }
  .multiselect-parent ul.dropdown-menu.dropdown-menu-form {
    opacity: 1;
    transform: none;    overflow: auto !important;
  }
  .chosen-container-single .chosen-single{height: 28px;margin-top: -7px;}
</style>
