
<div class="container m-b-10">
	<div class="col-md-12 card m-b-0">
		<div class="lvh-label">
				<span class="c-black"><b>GST Report</b>
					<span style="margin-left: 10px; color: rgb(183, 183, 183);">
						(View Book)
					</span>
				</span>
		</div>
		<div class="pull-right">
			<button ng-click="getReport(true)" ng-disabled="aReport.length<=0"
					class="btn btn-primary" style="font-size: 11px; padding: 5px;margin-top: 5px;">
				Download

			</button>
		</div>
	</div>
</div>

<div class="container" style="">
	<div class="card m-b-0" id="messages-main" style="width:100%; margin-right: -23px;">
		<div class="row hidden-print" style="margin:7px;">
			<form ng-submit="getReport()" novalidate>
				<div class="col-md-2">
					<div class="form-group m-b-0">
						<div class="col-sm-12">
							<div class="fg-line">
								<div class="date-picker input-group dp-blue chosen-row-1"
									 ng-class="{ 'is-opened': opened1 == true }">
									<div ng-class="{ 'fg-toggled': opened1 == true }">
										<input ng-click="DatePicker.openDatePicker(this, $event, 'opened1')"
											   type="text"
											   class="form-control"
											   datepicker-popup="{{DatePicker.formats[0]}}"
											   show-weeks="false"
											   max-date="DatePicker.newDate"
											   ng-model="oFilter.from_date"
											   ng-change="oFilter.to_date=undefined;"
											   is-open="opened1"
											   datepicker-options="DatePicker.dateSettings"
											   close-text="Close"
											   placeholder="From"/>
									</div>
									<span class="input-group-btn">
                		                		<button type="button"
														class="btn btn-default m-t-0 f12"
														ng-click="DatePicker.openDatePicker(this, $event, 'opened1')"><i
														class="glyphicon glyphicon-calendar"></i></button>
                		              	  </span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group m-b-0">
						<div class="col-sm-12">
							<div class="fg-line">
								<div class="date-picker input-group dp-blue chosen-row-1"
									 ng-class="{ 'is-opened': opened2 == true }">
									<div ng-class="{ 'fg-toggled': opened2 == true }">
										<input ng-click="DatePicker.openDatePicker(this, $event, 'opened2')"
											   type="text"
											   class="form-control"
											   datepicker-popup="{{DatePicker.formats[0]}}"
											   show-weeks="false"
											   max-date="DatePicker.newDate"
											   ng-model="oFilter.to_date"
											   min-date="oFilter.from_date"
											   max-date="oFilter.from_date|setMaxDate:6"
											   is-open="opened2"
											   datepicker-options="DatePicker.dateSettings"
											   close-text="Close"
											   placeholder="To"/>
									</div>
									<span class="input-group-btn">
            		                			<button type="button"
														class="btn btn-default m-t-0 f12"
														ng-click="DatePicker.openDatePicker(this, $event, 'opened2')"><i
														class="glyphicon glyphicon-calendar"></i></button>
                		              	  </span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-1 text-center">
					<button class="btn btn-primary p-l-10 p-r-10 p-t-0 p-b-0 m-l-5 m-r-5 app_tile"
							style="font-size: 16px"
							uib-tooltip="Search"
							type="submit"
							tooltip-placement="bottom"><i class="zmdi zmdi-search zmdi-hc-fw"></i></button>
					<button class="btn btn-primary p-l-10 p-r-10 p-t-0 p-b-0 app_tile"
							style="font-size: 16px"
							uib-tooltip="Clear Search"
							tooltip-placement="bottom"
							type="submit"
							ng-click="oFilter={};"><i class="zmdi zmdi-close zmdi-hc-fw"></i></button>
				</div>
			</form>
		</div>
	</div>
	<div class="detailsList card" style="background: white">
		<div class="col-md-12 pp">
			<ul class="listB" style="list-style-type: none;">
				<li>Total CGST Payable: {{aReport.cgstPayable || 0}}</li>
				<li>Total SGST Payable: {{aReport.sgstPayable || 0}}</li>
				<li>Total IGST Payable: {{aReport.igstPayable || 0}}</li>
				<li>Total Payable Tax: {{totalPayable = aReport.cgstPayable + aReport.sgstPayable + aReport.igstPayable || 0}}</li>

				<li>Total CGST Paid: {{aReport.cgstPaid || 0}}</li>
				<li>Total SGST Paid: {{aReport.sgstPaid || 0}}</li>
				<li>Total IGST Paid: {{aReport.igstPaid || 0}}</li>
				<li>Total Paid Tax: {{totalPaid = aReport.cgstPaid + aReport.sgstPaid + aReport.igstPaid || 0}}</li>

				<li>Remaining Tax Payable: {{(totalPayable - totalPaid) || 0}}</li>
			</ul>
		</div>
		<div class="clearfix"></div>

		<!--<div class="" style="overflow-y: auto;">-->
			<!--<table class="table table-bordered unresponsive invoiceDetail">-->
				<!--<thead>-->
				<!--<tr>-->
					<!--<th>Vch No.</th>-->
					<!--<th>Vch Type</th>-->
					<!--<th>From</th>-->
					<!--<th>To</th>-->
					<!--<th>Amount</th>-->
					<!--<th>Reference Number</th>-->
					<!--<th>Narration</th>-->
					<!--<th>Created By</th>-->
					<!--<th>Created At</th>-->
				<!--</tr>-->
				<!--</thead>-->
				<!--<tbody>-->
				<!--<tr ng-repeat="voucher in aReport">-->
					<!--<td>{{voucher.voucherId}}</td>-->
					<!--<td>{{voucher.type}}</td>-->
					<!--<td>{{voucher.from.name}}</td>-->
					<!--<td>{{voucher.to.name}}</td>-->
					<!--<td>{{voucher.amount}}</td>-->
					<!--<td>{{voucher.refNo}}</td>-->
					<!--<td>{{voucher.narration}}</td>-->
					<!--<td>{{voucher.created_by.full_name}}</td>-->
					<!--<td>{{voucher.created_at | date:"dd-MMM-yyyy 'at' h:mma"}}</td>-->
				<!--</tr>-->
				<!--</tbody>-->
			<!--</table>-->
			<!--<div ng-if="false" class="ms-body" style=" min-height: 50px;">-->
				<!--<h3>No Invoice Found !!!!!</h3>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="pagi text-center" ng-if="false">
			<uib-pagination ng-change="getGrs()" total-items="pagination.totalItems"
							items-per-page="pagination.items_per_page" num-pages="pagination.numPages"
							ng-model="pagination.currentPage" max-size="pagination.maxSize"
							class="pagination-sm smallPagi" boundary-links="true"
							previous-text="&lsaquo;" next-text="&rsaquo;"
							first-text="&laquo;" last-text="&raquo;"></uib-pagination>
		</div>-->
	</div>
</div>
<style>
	.container{
		width: 98% !important;
	}

	.listB > li{
		width: 20%;
		float: left;margin-left: 1%;
	}
	.pp{
		list-style-type: none;
		padding: 20px;
		font-weight: bold;
		border: 1px solid #2a96f3;
	}

</style>
