<form name="spare" ng-controller="registerSpareMsController" novalidate>
	<div class="validationError" ng-show="createSparerrormsg"><h5 class="c-red">* {{spareMsg}}</h5></div>
	<div class="row" style="margin:15px">
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Part Name: <span style="color: red;">*</span></label>
				<div class="col-sm-6">
					<div class="fg-line">
						<input type="text" ng-model="spareReg.name" placeholder="Enter here" class="form-control"
							   name="Part Name" required>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Category: <span style="color: red;">*</span></label>
				<div class="col-sm-6">
					<div class="select">
						<select chosen data-placeholder-text-single="'Search Category'"
								allow-single-deselect="true" no-results-text="'Could not find any category'"
								class="form-control" ng-model="part_cat"
								ng-options="item as item.name for item in aPartCat"
								search-contains="true" required>
							<option value=""></option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Min. Requirement: <span style="color: red;">*</span></label>
				<div class="col-sm-6">
					<div class="fg-line">
						<input type="number" ng-model="spareReg.min_buffer" placeholder="Enter here"
							   class="form-control" name="Reorder Level" required>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin:15px">
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Max. Requirement: <span style="color: red;">*</span></label>
				<div class="col-sm-6">
					<div class="fg-line">
						<input type="number" ng-model="spareReg.max_buffer" placeholder="Enter here"
							   class="form-control" name="Reorder Level" required>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Unit of Measure: <span style="color: red;">*</span></label>
				<div class="col-sm-6">
					<div class="select">
						<select class="form-control"
								ng-model="spareReg.uom" name="employee type" required>
							<option value="" disabled selected>Select UOM</option>
							<option ng-repeat="x in $constants.uomTypes"
									value="{{x}}">{{x}}
							</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Active Status:</label>
				<div class="col-sm-6">
					<div class="select">
						<select class="form-control" ng-options="item as item for item in aStatusActive"
								ng-model="spareReg.active_status" name="status">
							<option value="" disabled selected style="display: none;"> Select Status</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin:15px">
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Room Number</label>
				<div class="col-sm-6">
					<div class="fg-line">
						<input type="number" ng-model="spareReg.room" placeholder="Enter here" class="form-control"
							   name="Room">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Shelf Number</label>
				<div class="col-sm-6">
					<div class="fg-line">
						<input type="number" ng-model="spareReg.shelf" placeholder="Enter here" class="form-control"
							   name="Shelf">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Rack Number</label>
				<div class="col-sm-6">
					<div class="fg-line">
						<input type="number" ng-model="spareReg.rack" placeholder="Enter here" class="form-control"
							   name="Rack">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin:15px">
		<div class="col-md-4" ng-show="part_cat.type == 'Tyre'">
			<div class="form-group m-b-0">
				<label class="col-sm-6 control-label">Mileage:</label>
				<div class="col-sm-6">
					<div class="fg-line">
						<input type="number" ng-model="spareReg.mileage" placeholder="Enter here"
							   class="form-control" name="Mileage">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="m-l-30 col-md-10">
			<div class="form-group m-b-10">
				<button type="submit" class="btn btn-primary" ng-disabled="!(spareReg.name && part_cat && spareReg.min_buffer && spareReg.max_buffer && spareReg.uom)"
						ng-click="saveSpare(spare)" style="margin-bottom: 12px;">Save
				</button>
				<button type="submit" class="btn btn-warning"
						ng-click="cancel()" style="margin-bottom: 12px;">Cancel
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<h5 style="color: red; text-align: right;">* Mandatory Field....</h5>
	</div>
</form>

<style type="text/css">
	.arr_empl > span {
		/* border: 1px solid #000; */
		margin-left: 10px;
		background: #eee;
	}

	.arr_empl > span > span {
		background: red;
		padding: 1px 7px;
		color: #fff;
	}
</style>
