<!--ng-controller="billBookHomeController"-->
<div class="container m-b-10">
	<div class="col-md-12 card m-b-0">
		<div class="lvh-label">
			<span class="c-black"><b>Stationary Book</b>
				<span style="margin-left: 10px; color: rgb(183, 183, 183);">
					(View)
				</span>
			</span>
		</div>

<div class="ms-body" style=" min-height: 575px;">
	<div class="listview lv-message">
		<div class="lv-body">
			<ul class="tab-nav tn-justified">
				<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="masters.billBook.book">Book</a></li>
				<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="masters.billBook.stationery">Stationery</a></li>
			</ul>
			<data ui-view></data>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
	</div>
</div>

