<div class="container" ng-controller="customerPaymentCtrl" style="">
    <div class="card m-b-0" id="messages-main" style="width:100%; margin-right: -23px;">
        <form role="form" ng-submit="filter(form)">
          <div class="col-xs-6 m-b-5 col-sm-1 col-md-1 col-lg-1">
            <div class="fg-line">
                <input type="text" ng-model="trip" name="trip" class="form-control input-sm" placeholder="Trip No." ng-model-options="{ updateOn: 'blur' }" ng-change="getCustomerPayment()" style="height: 34px;font-size: 13px;">
            </div>
          </div>
          <!-- <div class="col-xs-6 m-b-5 col-sm-2 col-md-2 col-lg-2">
                <select chosen data-placeholder-text-single="'Vendors'" allow-single-deselect="true" no-results-text="'Could not find any Vendor'" class="form-control" ng-model="vendorName" ng-options="item as item.name for item in aVendors" ng-change="getCustomerPayment()" >
                    <option value=""></option>
                </select>
          </div> -->
          <div class="col-xs-6 m-b-5 col-sm-2 col-md-2 col-lg-2">
            <!-- <select chosen data-placeholder-text-single="'Search Customer'" search-contains="true" allow-single-deselect="true" no-results-text="'Could not find any Customer'" class="form-control" ng-model="bookingCustomer" ng-options="item as item.name for item in aCustomers" ng-change="getCustomerPayment()" >
              <option value=""></option>
            </select> -->
            <div class="lvh-search ng-scope sear">
              <input type="text" placeholder="Customer Search..." ng-model="bookingCustomer" class="lvhs-input" typeahead-wait-ms="10" typeahead="item as item.name for item in aCustomer" ng-change="getCname(bookingCustomer)" class="form-control" typeahead-on-select="onSelect($item, $model, $label)" >
              <i class="lvh-search-close" ng-click="clearSearch()">×</i>
            </div>
          </div>
          <!--<div class="col-xs-6 m-b-5 col-sm-2 col-md-2 col-lg-2">
              <select chosen data-placeholder-text-single="'Search Branch'" allow-single-deselect="true" no-results-text="'Could not find any Branch'" class="form-control" ng-model="branch" ng-options="item.name as item.name for item in getBranch" ng-change="getBooking()" required>
                <option value="" ></option>
              </select>
          </div> -->
           <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
            <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened1 == true }">
              <div class="fg-line" ng-class="{ 'fg-toggled': opened1 == true }">
                <input ng-click="open($event, 'opened1')" type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="sdate" is-open="opened1" datepicker-options="dateOptions" close-text="Close" placeholder="From Date" ng-change="getCustomerPayment()" style="padding: 0px 4px;height: 34px;" />
              </div>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default m-t-0 f12" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
          </div>
          <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
            <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened2 == true }" style=" ">
              <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }">
                <input ng-click="open($event, 'opened2')" type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="edate" is-open="opened2" datepicker-options="dateOptions" close-text="Close" placeholder="To Date" ng-change="getCustomerPayment()" style="padding: 0px 4px; height: 34px;" />
              </div>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default m-t-0 f12" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
          </div>
          <!-- <div class="col-xs-6 m-b-5 col-sm-1 col-md-1 col-lg-1">
            <div class="">
              <button class="btn btn-success waves-effect" tooltip="Search by Other Fields"  ng-click="searchOthers()">Search</button>
            </div>
          </div>  box-shadow: 1px 1px 4px 2px;" -->
        </form>
        <div class="clearfix"></div>

		<div class="detailsList">
			<div class="" style="overflow-y: auto; max-height: 500px;">
				<table class="table table-bordered unresponsive">
					<thead id='my_fixable_table_header' fix-head>
                  <tr>
                    <th>Invoice No.</th>
                    <th>Trip No.</th>
                    <th>Customer</th>
                    <!-- <th>Vendor Name</th> -->
                    <th>Invoice Rate</th>
                    <th>Pay Received</th>
                    <th>Remaining</th>
                    <th>Outstanding</th>
                    <th>Invoice Date</th>
                    <th>Created By</th>
                    <th>Created On</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="selectInVoice in aInvoive" class="pointer selectItem" ng-click="getmyDetailInfo(selectInVoice, $index)">
                    <td>{{selectInVoice.invoice_no}}</td>
                    <td>
                          {{selectInVoice.booking_info[0].trip_no}}
                    </td>
                    <td>{{selectInVoice.customer_name  || 'NA'}}</td>
                     <!-- <td>{{selectInVoice.vendor_name || 'NA'}}</td> -->
                    <td>{{selectInVoice.total_expenses | number:2  || 'NA'}} </td>
                    <td>{{formatfindPaidAmount(selectInVoice) | number:2 || 'NA'}}</td>
                    <td>{{ramainingAmount | number:2|| 'NA'}}</td>
                    <td>{{selectInVoice.outstanding  || 'NA'}}</td>
                    <td>{{selectInVoice.invoice_date | date:"dd-MMM-yyyy 'at' h:mma" || 'NA'}}</td>
                    <td>{{selectInVoice.created_by.name || 'NA'}}</td>
                    <td>{{selectInVoice.created_by.date | date:"dd-MMM-yyyy 'at' h:mma" || 'NA'}}</td>

                  </tr>
                </tbody>
              </table>
            <div ng-if="aInvoive == 0" class="ms-body" style=" min-height: 50px;">
              <h3>No any Invoice available !!!!!</h3>
            </div>
            </div>
        </div>
    </div>
</div>
