<div class="container" ng-controller="inventoryInwordCtrl">
  <div class="card m-b-0" id="messages-main">
    <div class="" style=" min-height: 550px;">
      <div class="listview lv-message">
        <div class="lv-header-alt clearfix">
          <div class="lvh-label">
            <span class="c-black"><b>Inventory Inword</b> &nbsp;&nbsp;&nbsp;</span>
          </div>
            <div class="clearfix"></div>
        </div>
        <form name="InwordForm">
          <div class="lv-body">
              <div class="row" style="margin: 5px auto;">
                  <div class="col-sm-12">
                    <div class="col-sm-2">
                      <div class="form-group m-b-0">
                        <label class="col-sm-7 control-label">Select PO:</label>
                        <div class="col-sm-5">
                          <div class="select" style="width: 80px;">
                            <select class="form-control" placeholder="Select" ng-options="item as item.ponumder for item in inventories" ng-model="selectPO" ng-change="selPOFunc(selectPO)">
                              <option value="" selected> Select PO </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="form-group m-b-0">
                        <label class="col-sm-7 control-label">Invoice No<span class="req_r">*</span>:</label>
                          <div class="col-sm-5">
                            <div class="fg-line" style="width: 80px;">
                              <input type="text" class="form-control" ng-model="invoice_number" placeholder="Enter Invoice No." required>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-b-0">
                        <label class="col-sm-3 control-label">Vendor Name:</label>
                          <div class="col-sm-9">
                            <div class="fg-line" style="width: 180px;">
                              {{aPOData.vendor_name}}
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-b-0">
                        <label class="col-sm-3 control-label">Invoice Date<span class="req_r">*</span>:</label>
                        <div class="col-sm-9">
                            <div class="fg-line">
                              <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened4 == true }">
                                <div class="fg-line" ng-class="{ 'fg-toggled': opened4 == true }">
                                  <input ng-click="open($event, 'opened4')" type="text" class="form-control" datepicker-popup="{{format}}" show-weeks="false" ng-model="bill_date" is-open="opened4" datepicker-options="dateOptions" close-text="Close" placeholder="Date" style="padding: 0px 4px;height: 34px;" required />
                                </div>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default m-t-0 f12" ng-click="open($event, 'opened4')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-b-0">
                        <label class="col-sm-7 control-label">Inw Freight:</label>
                          <div class="col-sm-5">
							  <div class="fg-line" style="width: 80px;">
								  <input type="number" class="form-control" ng-model="aPOData.freight"  placeholder="Enter here" required>
							  </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-b-0">
                        <label class="col-sm-7 control-label">Freight:</label>
                          <div class="col-sm-5">
                            <div class="fg-line" style="width: 80px;">
                              {{aPOData.rFreight}}
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row" style="margin: 5px auto;">
                <div class="col-md-12">
                  <div class="detailsList">
                    <div class="" style="overflow-y: auto;height: 400px;">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th style="color:#fff;background: #2196f3;">#</th>
                            <th style="color:#fff;background: #2196f3;">SPARE CODE</th>
                            <th style="color:#fff;background: #2196f3;">SPARE NAME</th>
                            <th style="color:#fff;background: #2196f3;">REMAINING QTY.</th>
                            <th style="color:#fff;background: #2196f3;">QUANTITY</th>
                            <th style="color:#fff;background: #2196f3;">TAX(%)</th>
                            <th style="color:#fff;background: #2196f3;">RATE/PIECE</th>
                            <th style="color:#fff;background: #2196f3;">INC. TAX</th>
                            <th style="color:#fff;background: #2196f3;">PREV. RATE</th>
                            <th style="color:#fff;background: #2196f3;">AMOUNT</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr data-ng-repeat="spareData in aPOData.spare" class="pointer">
                            <td>
                              <label class="checkbox checkbox-inline m-r-20">
                                <input type="checkbox" ng-model="spareData.selected" ng-click=clickCheckBX()>
                                <i class="input-helper"></i>
                              </label>
                            </td>
                            <td>{{spareData.code || 'NA'}}</td>
                            <td>{{spareData.name || 'NA'}}</td>
                            <td>{{spareData.remaining_quantity || 'NA'}}</td>
                            <td><input type="number" class="form-control" ng-model="aPOData.spare[$index].quantity" placeholder="Enter Quantity" ng-change="checkQty(spareData,$index);calculate($index);" required></td>
                            <td><input type="number" class="form-control" ng-model="aPOData.spare[$index].tax" placeholder="Enter tax" ng-change="calculate($index)" ></td>
                            <td><input type="number" class="form-control" ng-model="aPOData.spare[$index].rate_per_piece" placeholder="Enter Rate/Piece" ng-change="calculate($index)" required>
                              <!--{{spareData.rate_per_piece}}-->
                            </td>
                            <td><input type="number" class="form-control" ng-model="aPOData.spare[$index].rate_inc_tax" placeholder="rate with tax" ng-change="calculate($index)"  readonly="true"></td>
                            <td><input type="number" class="form-control" ng-model="aPOData.spare[$index].previousRate" placeholder="previous Rate"  readonly="true"></td>
                            <td><input type="number" class="form-control" ng-model="aPOData.spare[$index].billing_amount" placeholder="Enter Billing Amount" readonly="true"></td>
                          </tr>
                        </tbody>
                      </table>
                      <div ng-if="aPOData == 0" class="ms-body" style=" min-height: 50px;">
                        <h3>Data not available !!!!!</h3>
                      </div>
                    </div>
                    <div class="col-sm-4 pull-right" ng-if="aPOData != 0">
                      <label>Cumulative price of inventory items ==== {{aPOData.cummulative_price}}</label>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div>
                    <button ng-disabled="InwordForm.$invalid" ng-click="addNewInventory()" class="btn btn-primary waves-effect pull-right">ADD</button>
                  </div>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
    </div>
</div>

