<div class="card m-b-0" style="background: none;box-shadow: none;width:98%;margin: 10px auto;padding-bottom: 10px"
	 id="messages-main">
	<div class="ms-menu" style="width:20%;max-height: 600px;padding-bottom: 60px">
<!--		<div class="lvh-search ng-scope sear" autocomplete="off">-->
<!--			<input type="text" placeholder="Search Branch ..."-->
<!--				   ng-model="searchValue" class="lvhs-input"-->
<!--				   typeahead="branch.name as branch.name for branch in branches  | filter:searchValue"-->
<!--				   typeahead-min-length="2" ng-change="getBranchNames(searchValue)"-->
<!--				   typeahead-on-select="onBranchTypeAheadSelect($item, $model, $label)">-->
<!--			<i class="lvh-search-close" ng-click="searchValue='';getAllBranches()">×</i>-->
<!--		</div>-->
		<div class="lvh-search ng-scope sear"  autocomplete="off">
			<input type="text" placeholder="Start typing..."
				   ng-model="searchValue" class="lvhs-input"
				   typeahead-wait-ms="10"
				   typeahead="branch.name as branch.name for branch in getVname($viewValue)"
				   class="form-control"
				   typeahead-on-select="onBranchTypeAheadSelect($item, $model, $label)" >
			<i class="lvh-search-close" ng-click="searchValue = ''; getAllBranches()">×</i>
		</div>
		<div class="listview lv-branch clk" style="overflow: auto;height:97%;">
			<div class="lv-item media" ng-repeat="branch in branches"
				 ng-click="selectBranchAtIndex($index)">
				<div class="truck-desc">
					<div class="row">
						<div class="col-md-8 bold">
							{{branch.name}}
						</div>
						<div class="col-md-4 bold">
							{{branch.code}}
						</div>
					</div>
				</div>
			</div>
			<div class="pagi" ng-show="total_pages>1">
				<pagination ng-change="pageChanged()" total-items="totalItems"
							items-per-page="items_per_page" num-pages="numPages"
							ng-model="currentPage" max-size="maxSize" class="pagination-sm smallPagi"
							boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;"
							first-text="&laquo;" last-text="&raquo;"></pagination>
			</div>
		</div>
	</div>

	<div class="card" style="min-height: 600px;margin-left:20%;overflow: auto">
		<div class="card-header" style="padding: 10px 25px;">
			<div class="col-sm-2">
				<select class="form-control"
						placeholder="status"
						ng-options="item as item for item in status"
						ng-model="filterObj.status"
						style="height: 34px;">
					<option value="" disabled>Status</option>
				</select>
			</div>

			<div class="col-md-2">
				<div class="form-group m-b-0 text-center">
					<button class="btn btn-primary p-t-0 p-b-0"
							type="button"
							style="margin-bottom: 3px;  font-size: 16px"
							ng-click="getAllBranches()"
							uib-tooltip="Search"
							tooltip-placement="bottom">
						<i class="zmdi zmdi-search zmdi-hc-fw"></i>
					</button>
					<button class="btn btn-primary p-t-0 p-b-0"
							type="button"
							style="margin-bottom: 3px;  font-size: 16px"
							uib-tooltip="Clear Search"
							ng-click="filterObj={};"
							tooltip-placement="bottom">
						<i class="zmdi zmdi-close zmdi-hc-fw"></i>
					</button>
				</div>
			</div>

			<div class="col-md-3 pull-right">
				<div class="form-group m-b-0 text-center">
					<button ng-if="$role['Branch']['Add']"
							class="btn btn-primary p-t-0 p-b-0"
							type="button"
							style="margin-bottom: 3px;  font-size: 16px"
							ng-click="addNewBranchClicked()"
							uib-tooltip="New Branch"
							tooltip-placement="bottom">
						<i class="zmdi zmdi-accounts-add zmdi-hc-fw"></i>
					</button>
					<button ng-if="$role['Branch']['Update']"
							class="btn btn-primary p-t-0 p-b-0"
							ng-hide="$loginUserRoleData.branch.indexOf('edit')===-1"
							type="button"
							style="margin-bottom: 3px;  font-size: 16px"
							ng-click="editBranchClicked()"
							uib-tooltip="Edit"
							tooltip-placement="bottom">
						<i class="zmdi zmdi-edit zmdi-hc-fw"></i>
					</button>
					<button ng-if="!selectedBranch.deleted && $role['Branch']['Disable']"
							class="btn btn-danger p-t-0 p-b-0"
							type="button"
							style="margin-bottom: 3px;  font-size: 16px"
							ng-click="branchStatus('Disable')"
							uib-tooltip="Disable"
							tooltip-placement="bottom">
						<i class="zmdi zmdi-delete zmdi-hc-fw"></i>
					</button>
					<button ng-if="selectedBranch.deleted && $role['Branch']['Enable']"
							class="btn btn-primary p-t-0 p-b-0"
							type="button"
							style="margin-bottom: 3px;  font-size: 16px"
							ng-click="branchStatus('Enable')"
							uib-tooltip="Enable"
							tooltip-placement="bottom">
						<i class="zmdi zmdi-undo zmdi-hc-fw"></i>
					</button>
					<button
							class="btn btn-success p-t-0 p-b-0"
							type="button"
							style="margin-bottom: 3px;  font-size: 16px"
							ng-click="downloadReport()"
							uib-tooltip="Download"
							tooltip-placement="bottom">
						<i class="zmdi zmdi-download zmdi-hc-fw"></i>
					</button>
				</div>
			</div>
		</div>
		<br><hr>
		<div class="clearfix"></div>


		<div class="card-header" ng-show="branches.length===0 && currentMode==='view'">
			<h2 style="color: grey">
				No branches found
			</h2>
		</div>

		<!--Form starts here -->
		<div class="card-body" ng-hide="branches.length===0 && (currentMode==='view' || currentMode==='edit')">
			<ul class="tab-nav" ng-show="branches.length || form_user=='add'"
				style="margin-right: 25px;margin-left: 25px;width: auto">
				<!--<li ng-class="{active: tab_active_branch===1}">-->
					<!--<a href="" ng-click="selectTabBranch(1)">Branch Info.</a>-->
				<!--</li>-->
				<!--<li ng-class="{active: tab_active_branch===2}">
					<a href="" ng-click="selectTabBranch(2)" > Departments</a>
				</li>-->
			</ul>

			<div class="card-body">
				<form name="BranchForm" ng-show="tab_active_branch===1" novalidate>
					<div class="validationError" ng-show="branch"><h5 class="c-red">* {{bmsg}}</h5></div>

					<!-- branch basic info -->
					<div id="div_branch_info" class="card-body" style="padding: 25px;">
						<div class="row" style="margin:5px">
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Code: </label>
									<div class="col-sm-6">
										<div class="fg-line" ng-readonly="currentMode==='view'">
											<input type="text" ng-model="selectedBranch.code" class="form-control"
												   ng-readonly="currentMode==='view'" name="branch code">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Name: </label>
									<div class="col-sm-6">
										<div class="fg-line" ng-readonly="currentMode==='view'">
											<input type="text" ng-model="selectedBranch.name" class="form-control"
												   ng-readonly="currentMode==='view'" name="branch name" required>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="margin:5px">
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Type: <span style="color: red;">*</span>
									</label>
									<div class="col-sm-6" ng-if="currentMode !='view'">
										<div class="select" ng-show="(currentMode==='view' && selectedBranch.type.length) ||
                                    currentMode==='add' || currentMode==='edit'"
											 ng-readonly="currentMode==='view'">
											<select class="form-control" required
													ng-readonly="currentMode==='view'"
													ng-disabled="currentMode==='view'"
													name="type" ng-model="selectedBranch.type">
												<option value="" disabled selected>Select Category</option>
												<option ng-repeat="x in $constants.branchTypes"
														ng-disabled="currentMode==='view'"
														value="{{x}}">{{x}}
												</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6" ng-if="currentMode==='view'">
										<label>{{selectedBranch.type}}</label>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Primary contact no: <span style="color: red;">*</span></label>
									<div class="col-sm-6">
										<div class="fg-line" ng-readonly="currentMode==='view'">
											<input type="number" ng-model="selectedBranch.prim_contact_no"
												   class="form-control" ng-minlength="10" ng-maxlength="10"
												   ng-readonly="currentMode==='view'" name="primary contact number"
												   required>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="margin:5px">
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Alternate contact no</label>
									<div class="col-sm-6">
										<div class="fg-line" ng-readonly="currentMode==='view'">
											<input type="number" ng-model="selectedBranch.alt_contact_no1"
												   class="form-control" ng-maxlength="10" ng-minlength="10"
												   ng-readonly="currentMode==='view'" name="alternate contact no">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Primary email: <span
										style="color: red;">*</span></label>
									<div class="col-sm-6">
										<div class="fg-line" ng-readonly="currentMode==='view'">
											<input type="email" ng-model="selectedBranch.prim_email"
												   class="form-control" name="Branch primary email"
												   ng-readonly="currentMode==='view'" required>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row" style="margin:5px">
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<div class="form-group m-b-0">
										<label class="col-sm-4 control-label">Alternate email</label>
										<div class="col-sm-6">
											<div class="fg-line">
												<input ng-readonly="currentMode==='view'" type="email"
													   name="Branch alternate email" ng-model="selectedBranch.alt_email"
													   class="form-control">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<div class="form-group m-b-0">
										<label class="col-sm-4 control-label">Fax </label>
										<div class="col-sm-6">
											<div class="fg-line" ng-readonly="currentMode==='view'">
												<input ng-readonly="currentMode==='view'"
													   name="fax" ng-model="selectedBranch.fax" class="form-control">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="margin:5px">
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<div class="form-group m-b-0">
										<label class="col-sm-4 control-label">Opening date </label>
										<div class="col-sm-6">
											<div class="date-picker input-group dp-blue"
												 ng-class="{ 'is-opened': opened1 == true }">
												<div class="fg-line" ng-readonly="currentMode==='view'"
													 ng-class="{ 'fg-toggled': opened1 == true }">
													<input ng-readonly="currentMode==='view'"
														   ng-click="open($event, 'opened1')"
														   type="text" class="form-control"
														   uib-datepicker-popup="{{format}}"
														   show-weeks="false" max-date="minDate" name="opening date"
														   ng-model="selectedBranch.branch_open_date" is-open="opened1"
														   uib-datepicker-options="dateOptions" close-text="Close"
														   placeholder="Select Date"/>
												</div>
												<span class="input-group-btn" ng-hide="currentMode==='view'">
                                                <button type="button" class="btn btn-default m-t-0 f12"
														ng-click="open($event, 'opened1')">
                                                    <i class="glyphicon glyphicon-calendar">
                                                    </i>
                                                </button>
                                            </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">GSTIN: </label>
									<div class="col-sm-8">
										<div class="fg-line">
											<input type="text"
												   placeholder="Enter GSTIN"
												   ng-model="selectedBranch.gstin"
												   name="GSTIN"
												   maxlength="{{$constants.gstinLength}}"
												   minlength="{{$constants.gstinLength}}"
												   ng-readonly="currentMode==='view'"
												   class="form-control">
										</div>
										<span class="error" ng-show="BranchForm['GSTIN'].$error.minlength">GSTIN should not be Smaller OR Greater than {{$constants.gstinLength}}.</span>
									</div>
								</div>
							</div>
<!--							<div class="col-md-6">-->
<!--								<div class="form-group">-->
<!--									<div class="col-xs-6"><label>Auto Book :</label></div>-->
<!--									<div class="col-xs-6" ng-if="currentMode==='add' || currentMode==='edit'">-->
<!--										<label class="checkbox checkbox-inline m-r-20">-->
<!--											<input type="checkbox"-->
<!--												   ng-model="selectedBranch.autoBook"-->
<!--												   ng-change="getAutoBook()">-->
<!--											<i class="input-helper"></i>-->
<!--										</label>-->
<!--									</div>-->
<!--									<div class="col-sm-6"-->
<!--										 ng-if="currentMode==='view'">-->
<!--										{{selectedBranch.autoBook}}-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
						</div>

						<div class="row" style="margin:5px">
							<div class="col-md-6" ng-if="currentMode==='view'">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Mr Book :</label>
<!--									<div class="col-sm-8" ng-if="currentMode==='add' || currentMode==='edit'">-->
<!--										<div ng-dropdown-multiselect=""-->
<!--											 options="aMrBooks"-->
<!--											 selected-model="mrBook"-->
<!--											 extra-settings="selectSettings"-->
<!--											 ja-search-input='inputModel'-->
<!--											 ja-search-trigger="getbillBooks('Money Receipt' , 'aMrBooks', inputModel)"-->
<!--										></div>-->
<!--									</div>-->
									<div class="col-sm-6"
										 >
										{{selectedBranch.mrBook && selectedBranch.mrBook[0].name}}
										{{selectedBranch.mrBook[1] && ','}}
										{{selectedBranch.mrBook[1] && selectedBranch.mrBook[1].name}}
										<b>{{selectedBranch.mrBook[2] && ',...'}}</b>
									</div>
								</div>
							</div>
							<div class="col-md-6"  ng-if="currentMode==='view'">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Cr Book :</label>
<!--									<div class="col-sm-8" ng-if="currentMode==='add' || currentMode==='edit'">-->
<!--										<div ng-dropdown-multiselect=""-->
<!--											 options="aCrBooks"-->
<!--											 selected-model="crBook"-->
<!--											 extra-settings="selectSettings"-->
<!--											 ja-search-input='inputModel'-->
<!--											 ja-search-trigger="getbillBooks('Cash Receipt' , 'aCrBooks', inputModel)"-->
<!--										></div>-->
<!--									</div>-->
									<div class="col-sm-6"
										>
										{{selectedBranch.crBook && selectedBranch.crBook[0].name}}
										{{selectedBranch.crBook[1] && ','}}
										{{selectedBranch.crBook[1] && selectedBranch.crBook[1].name}}
										<b>{{selectedBranch.crBook[2] && ',...'}}</b>
									</div>
								</div>
							</div>
						</div>

						<div class="row" style="margin:5px">
							<div class="col-md-6"  ng-if="currentMode==='view'">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Hire Slip Book :</label>
<!--									<div class="col-sm-8" ng-if="currentMode==='add' || currentMode==='edit'">-->
<!--										<div ng-dropdown-multiselect=""-->
<!--											 options="aBillBooks"-->
<!--											 selected-model="lsBook"-->
<!--											 extra-settings="selectSettings"-->
<!--											 ja-search-input='inputModel'-->
<!--											 ja-search-trigger="getbillBooks('Hire Slip' , 'aBillBooks', inputModel)"-->
<!--										></div>-->
<!--									</div>-->
									<div class="col-sm-6"
										>
										{{selectedBranch.lsBook && selectedBranch.lsBook[0].name}}
										{{selectedBranch.lsBook[1] && ','}}
										{{selectedBranch.lsBook[1] && selectedBranch.lsBook[1].name}}
										<b>{{selectedBranch.lsBook[2] && ',...'}}</b>
										<!--{{selectedBranch.lsBook.name}}-->
									</div>
								</div>
							</div>

							<div class="col-md-6" ng-if="currentMode==='view'">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">RefNo Book :</label>
<!--									<div class="col-sm-8" ng-if="currentMode==='add' || currentMode==='edit'">-->
<!--										<div ng-dropdown-multiselect=""-->
<!--											 options="aRefNoBooks"-->
<!--											 selected-model="refNoBook"-->
<!--											 extra-settings="selectSettings"-->
<!--											 ja-search-input='inputModel'-->
<!--											 ja-search-trigger="getbillBooks('Ref No' , 'aRefNoBooks', inputModel)"-->
<!--										></div>-->
<!--									</div>-->
									<div class="col-sm-6">
										{{selectedBranch.refNoBook && selectedBranch.refNoBook[0].name}}
										{{selectedBranch.refNoBook[1] && ','}}
										{{selectedBranch.refNoBook[1] && selectedBranch.refNoBook[1].name}}
										<b>{{selectedBranch.refNoBook[2] && ',...'}}</b>
										<!--{{selectedBranch.refNoBook.name}}-->
									</div>
								</div>
							</div>

							<div class="col-md-6" ng-if="currentMode==='view'">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Misc CN Book :</label>

									<div class="col-sm-6">
										{{selectedBranch.miscCNBook && selectedBranch.miscCNBook[0].name}}
										{{selectedBranch.miscCNBook[1] && ','}}
										{{selectedBranch.miscCNBook[1] && selectedBranch.miscCNBook[1].name}}
										<b>{{selectedBranch.miscCNBook[2] && ',...'}}</b>
										<!--{{selectedBranch.miscCNBook.name}}-->
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-4 control-label">Profit Center:</label>
									<div class="col-sm-6">
										<div class="fg-line" ng-readonly="currentMode==='view'">
											<input type="number" ng-model="selectedBranch.profit_center"
												   name="profit center" class="form-control"
												   ng-readonly="currentMode==='view'">
										</div>
									</div>
									<div class="col-sm-1" ng-show="!currentMode==='view'">
										<button class="btn btn-default waves-effect"
												style="padding: 3px 10px;margin-top: -5px;"
												ng-click="searchEmployeeCode($viewValue)">
											<i class="zmdi zmdi-search"></i></button>
									</div>
								</div>
							</div>

<!--							<div class="col-md-6"-->
<!--								 ng-if="$configs['costCenter']['show']">-->
<!--								<div class="form-group m-b-0">-->
<!--									<label class="col-sm-4 control-label">Adv. Diesel Cost Center</label>-->
<!--									<div class="col-sm-6">-->
<!--										<div class="fg-line" ng-readonly="currentMode==='view'">-->
<!--											<input type="text" ng-model="selectedBranch.costCenter"-->
<!--												   ng-readonly="currentMode==='view'"-->
<!--												   class="form-control" required>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="col-md-6"-->
<!--								 ng-if="$configs['costCenter']['show']">-->
<!--								<div class="form-group m-b-0">-->
<!--									<label class="col-sm-4 control-label">Adv. Driver Cash Cost Center</label>-->
<!--									<div class="col-sm-6">-->
<!--										<div class="fg-line" ng-readonly="currentMode==='view'">-->
<!--											<input type="text" ng-model="selectedBranch.costCenterDC"-->
<!--												   ng-readonly="currentMode==='view'"-->
<!--												   class="form-control" required>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="col-md-6"-->
<!--								 ng-if="$configs['costCenter']['show']">-->
<!--								<div class="form-group m-b-0">-->
<!--									<label class="col-sm-4 control-label">Adv. Fastag Cost Center</label>-->
<!--									<div class="col-sm-6">-->
<!--										<div class="fg-line" ng-readonly="currentMode==='view'">-->
<!--											<input type="text" ng-model="selectedBranch.costCenterF"-->
<!--												   ng-readonly="currentMode==='view'"-->
<!--												   class="form-control" required>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="col-md-6"-->
<!--								 ng-if="$configs['costCenter']['show']">-->
<!--								<div class="form-group m-b-0">-->
<!--									<label class="col-sm-4 control-label">Adv. Happay Cost Center</label>-->
<!--									<div class="col-sm-6">-->
<!--										<div class="fg-line" ng-readonly="currentMode==='view'">-->
<!--											<input type="text" ng-model="selectedBranch.costCenterH"-->
<!--												   ng-readonly="currentMode==='view'"-->
<!--												   class="form-control" required>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="col-md-6"-->
<!--								 ng-if="$configs['costCenter']['show']">-->
<!--								<div class="form-group m-b-0">-->
<!--									<label class="col-sm-4 control-label">Freight Cost Center</label>-->
<!--									<div class="col-sm-6">-->
<!--										<div class="fg-line" ng-readonly="currentMode==='view'">-->
<!--											<input type="text" ng-model="selectedBranch.billCC"-->
<!--												   ng-readonly="currentMode==='view'"-->
<!--												   class="form-control" required>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
						</div>
					</div>
				</form>
			</div>

			<div id="div_branch_employee_details" class="card-body" style="padding: 25px;padding-top: 0px;">
				<div class="row" style="margin:5px">
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">Head employee code:</label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input type="text" ng-model="selectedBranch.branch_head_employee_code"
										   name="head employee code" class="form-control"
										   ng-readonly="currentMode==='view'">
								</div>
							</div>
							<div class="col-sm-1" ng-show="!currentMode==='view'">
								<button class="btn btn-default waves-effect" style="padding: 3px 10px;margin-top: -5px;"
										ng-click="searchEmployeeCode($viewValue)">
									<i class="zmdi zmdi-search"></i></button>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">Alternate contact person employee code</label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input ng-model="selectedBranch.alt_contact_employee_code"
										   ng-readonly="currentMode==='view'"
										   class="form-control">
								</div>
							</div>
							<div class="col-sm-1" ng-show="!currentMode==='view'">
								<button class="btn btn-default waves-effect" style="padding: 3px 10px;margin-top: -5px;"
										ng-click="searchEmployeeCode($viewValue)"
								><i class="zmdi zmdi-search"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin:5px">
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">Head name: </label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input type="text" ng-model="selectedBranch.branch_head_name" class="form-control"
										   name="branch head name" ng-readonly="currentMode==='view'">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">Alternate contact person name</label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input ng-model="selectedBranch.alt_contact_name"
										   name="Alternate contact person name"
										   class="form-control" ng-readonly="currentMode==='view'">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin:5px">
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">Head contact no.: </label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input type="number" ng-model="selectedBranch.branch_head_contact_no"
										   class="form-control" name="Branch head contact number" ng-minlength="10"
										   ng-maxlength="10"
										   ng-readonly="currentMode==='view'">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">Alternate contact person no.</label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input ng-model="selectedBranch.alt_contact_employee_no" ng-minlength="10"
										   ng-maxlength="10"
										   name="Alternate contact person no." class="form-control"
										   ng-readonly="currentMode==='view'">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin:5px">
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">Head email</label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input ng-model="selectedBranch.branch_head_email" type="email"
										   name="Branch head email" class="form-control"
										   ng-readonly="currentMode==='view'">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">Alternate contact person email</label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input ng-model="selectedBranch.alt_contact_email" type="email"
										   name="Alternate contact person email" class="form-control"
										   ng-readonly="currentMode==='view'">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin:5px">
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">Bill Address</label>
							<div class="col-sm-6" ng-if="currentMode != 'view'">
								<div class="fg-line">
									<input ng-model="selectedBranch.billAddress"
										   type="text"
										   name="Bill Address"
										   class="form-control"
										   placeholder="Enter Bill Address"
										   ng-readonly="currentMode==='view'">
								</div>
							</div>
							<div class="col-sm-6" ng-if="currentMode === 'view'">
								{{selectedBranch.billAddress}}
							</div>
						</div>
					</div>
				    <div class="col-md-6">
					<div class="form-group m-b-0">
						<label class="col-sm-4 control-label">Bill GSTIN: </label>
						<div class="col-sm-8">
							<div class="fg-line">
								<input type="text"
									   placeholder="Enter Bill GSTIN"
									   ng-model="selectedBranch.billgstin"
									   name="Bill GSTIN"
									   maxlength="{{$constants.gstinLength}}"
									   minlength="{{$constants.gstinLength}}"
									   ng-readonly="currentMode==='view'"
									   class="form-control">
							</div>
							<span class="error" ng-show="BranchForm['Bill GSTIN'].$error.minlength">GSTIN should not be Smaller OR Greater than {{$constants.gstinLength}}.</span>
						</div>
					</div>
				</div>
				</div>
			</div>

			<!--branch address-->

			<div id="div_branch_address" class="card-body">
				<div class="row" style="margin:5px">
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">Address Line 1: </label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input type="text" ng-model="selectedBranch.address.line1" name="Address Line 1"
										   class="form-control" ng-readonly="currentMode==='view'"
									>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">Address Line 2</label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input type="text" ng-model="selectedBranch.address.line2" name="Address Line 2"
										   class="form-control" ng-readonly="currentMode==='view'">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin:5px">
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">City: </label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input id="autoCompleteCity" type="text" ng-model="selectedBranch.address.city"
										   class="form-control" name="city"

										   ng-readonly="currentMode==='view'">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">District</label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input ng-model="selectedBranch.address.district" name="district"
										   class="form-control" ng-readonly="currentMode==='view'">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin:5px">
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">State:</label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input ng-model="selectedBranch.address.state" class="form-control"
										   name="state" ng-readonly="currentMode==='view'">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">Country: </label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input ng-model="selectedBranch.address.country" name="country"
										   class="form-control"

										   ng-readonly="currentMode==='view'">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin:5px">
					<div class="col-md-6">
						<div class="form-group m-b-0">
							<label class="col-sm-4 control-label">PIN code: </label>
							<div class="col-sm-6">
								<div class="fg-line" ng-readonly="currentMode==='view'">
									<input ng-model="selectedBranch.address.pincode" class="form-control"
										   name="Pin Code"
										   ng-readonly="currentMode==='view'">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<li class="list-group-item">
				<span class="booking_list_header"> </span>
				<div class="card-body">
					<div class="row" style="margin:5px" ng-show="!(currentMode==='view')">
						<div class="col-md-6">
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-3 control-label">MR Book:</label>
									<div class="col-sm-8" ng-hide="mrReadonly">
										<div class="ng-scope sear chosen-row-1">
											<input
												type="text"
												class="form-control"
												placeholder="Search MR Book"
												ng-model="addMRBook"
												typeahead-wait-ms="10"
												ng-trim="false"
												name="mrBook"
												typeahead="item as item.name for item in getBillBook($viewValue, 'Money Receipt') | limitTo:20"
												typeahead-on-select="onBookSelect($item, 'Money Receipt');addMRBook=null;"
											>
											<i class="lvh-search-close" ng-click="addMRBook=null;">×</i>
										</div>
									</div>
								</div>
							</div>
							<button
									class="btn btn-danger waves-effect"
									uib-tooltip="Delete Book"
									tooltip-placement="bottom"
									ng-click="removeMrBook(selectedMRIndex)">
								<i class="zmdi zmdi-delete zmdi-hc-fw"></i>
							</button>
							<div class="clearfix"></div>


							<div class="col-md-12">
								<div class="detailsList">
									<div class="" style="overflow-y: auto; max-height: 80px;">
										<table class="table table-bordered unresponsive">
											<thead id='my_fixable_table_header' fix-head>
									<tr>
										<th>#</th>
										<th>name</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="oBook in mrBook"
										class="pointer"
										ng-class="{grn: selectedMRRow._id === oBook._id}"
										ng-click="onMRClick(oBook, $index)">
										<td>{{$index + 1}}</td>
										<td>{{oBook.name}}</td>
									</tr>
									</tbody>
								</table>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">

							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-3 control-label">CR Book:</label>
									<div class="col-sm-8" ng-hide="crReadonly">
										<div class="ng-scope sear chosen-row-1">
											<input
												type="text"
												class="form-control"
												placeholder="Search CRBook"
												ng-model="addCRBook"
												typeahead-wait-ms="10"
												ng-trim="false"
												name="crBook"
												typeahead="item as item.name for item in getBillBook($viewValue, 'Cash Receipt') | limitTo:20"
												typeahead-on-select="onBookSelect($item, 'Cash Receipt');addCRBook=null"
											>
											<i class="lvh-search-close" ng-click="addCRBook=null;">×</i>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn btn-danger waves-effect"
								uib-tooltip="Delete Book"
								tooltip-placement="bottom"
								ng-click="removeCrBook(selectedCRIndex)">
								<i class="zmdi zmdi-delete zmdi-hc-fw"></i>
							</button>
							<div class="clearfix"></div>


							<div class="col-md-12">
								<div class="detailsList">
									<div class="" style="overflow-y: auto; max-height: 80px;">
										<table class="table table-bordered unresponsive">
											<thead id='my_fixable_table_header1' fix-head>
									<tr>
										<th>#</th>
										<th>name</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="oBook in crBook"
										class="pointer"
										ng-class="{grn: selectedCRRow._id === oBook._id}"
										ng-click="onCRClick(oBook, $index)">
										<td>{{$index + 1}}</td>
										<td>{{oBook.name}}</td>
									</tr>
									</tbody>
								</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<span class="booking_list_header"> </span>
				<div class="card-body">

					<div class="row" style="margin:5px" ng-show="!(currentMode==='view')">
						<div class="col-md-6">
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-3 control-label">Hire Slip Book:</label>
									<div class="col-sm-8" ng-hide="hsReadonly">
										<div class="ng-scope sear chosen-row-1">
											<input
												type="text"
												class="form-control"
												placeholder="Search Hire Slip"
												ng-model="addHSBook"
												typeahead-wait-ms="10"
												ng-trim="false"
												name="lsBook"
												typeahead="item as item.name for item in getBillBook($viewValue, 'Hire Slip') | limitTo:20"
												typeahead-on-select="onBookSelect($item, 'Hire Slip');addHSBook=null;"
											>
											<i class="lvh-search-close" ng-click="addHSBook=null;">×</i>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn btn-danger waves-effect"
								uib-tooltip="Delete Book"
								tooltip-placement="bottom"
								ng-click="removeHsBook(selectedHSIndex)">
								<i class="zmdi zmdi-delete zmdi-hc-fw"></i>
							</button>
							<div class="clearfix"></div>
							<div class="col-md-12">
								<div class="detailsList">
									<div class="" style="overflow-y: auto; max-height: 80px;">
										<table class="table table-bordered unresponsive">
											<thead id='my_fixable_table_header2' fix-head>
									<tr>
										<th>#</th>
										<th>name</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="oBook in lsBook"
										class="pointer"
										ng-class="{grn: selectedHSRow._id === oBook._id}"
										ng-click="onHSClick(oBook, $index)">
										<td>{{$index + 1}}</td>
										<td>{{oBook.name}}</td>
									</tr>
									</tbody>
								</table>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-3 control-label">RefNo Book:</label>
									<div class="col-sm-8" ng-hide="refReadonly">
										<div class="ng-scope sear chosen-row-1">
											<input
												type="text"
												class="form-control"
												placeholder="Search RefNo Book"
												ng-model="refBook"
												typeahead-wait-ms="10"
												ng-trim="false"
												name="refNoBook"
												typeahead="item as item.name for item in getBillBook($viewValue, 'Ref No') | limitTo:20"
												typeahead-on-select="onBookSelect($item, 'Ref No');refBook=null;"
											>
											<i class="lvh-search-close" ng-click="refBook=null;">×</i>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn btn-danger waves-effect"
								uib-tooltip="Delete Book"
								tooltip-placement="bottom"
								ng-click="removeRefBook(selectedRefIndex)">
								<i class="zmdi zmdi-delete zmdi-hc-fw"></i>
							</button>
							<div class="clearfix"></div>
							<div class="col-md-12">
								<div class="detailsList">
									<div class="" style="overflow-y: auto; max-height: 80px;">
										<table class="table table-bordered unresponsive">
											<thead id='my_fixable_table_header3' fix-head>
									<tr>
										<th>#</th>
										<th>name</th>
									</tr>
									</thead>
									<tbody>
									<tr ng-repeat="oBook in refNoBook"
										class="pointer"
										ng-class="{grn: selectedRefRow._id === oBook._id}"
										ng-click="onRefClick(oBook, $index)">
										<td>{{$index + 1}}</td>
										<td>{{oBook.name}}</td>
									</tr>
									</tbody>
								</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<span class="booking_list_header"> </span>
				<div class="card-body">

					<div class="row" style="margin:5px" ng-show="!(currentMode==='view')">
						<div class="col-md-6">
							<div class="col-md-6">
								<div class="form-group m-b-0">
									<label class="col-sm-3 control-label">Misc CN Book:</label>
									<div class="col-sm-8" ng-hide="cnReadonly">
										<div class="ng-scope sear chosen-row-1">
											<input
												type="text"
												class="form-control"
												placeholder="Search Misc CN Book"
												ng-model="cnBook"
												typeahead-wait-ms="10"
												ng-trim="false"
												name="cnBook"
												typeahead="item as item.name for item in getBillBook($viewValue, 'Credit Note') | limitTo:20"
												typeahead-on-select="onBookSelect($item, 'Credit Note');cnBook=null;"
											>
											<i class="lvh-search-close" ng-click="cnBook=null;">×</i>
										</div>
									</div>
								</div>
							</div>
							<button
								class="btn btn-danger waves-effect"
								uib-tooltip="Delete Book"
								tooltip-placement="bottom"
								ng-click="removeMiscBook(selectedMiscCNIndex)">
								<i class="zmdi zmdi-delete zmdi-hc-fw"></i>
							</button>
							<div class="clearfix"></div>
							<div class="col-md-12">
								<div class="detailsList">
									<div class="" style="overflow-y: auto; max-height: 80px;">
										<table class="table table-bordered unresponsive">
											<thead id='my_fixable_table_header3' fix-head>
											<tr>
												<th>#</th>
												<th>name</th>
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat="oBook in miscCNBook"
												class="pointer"
												ng-class="{grn: selectedMiscCNRow._id === oBook._id}"
												ng-click="onMiscCNClick(oBook, $index)">
												<td>{{$index + 1}}</td>
												<td>{{oBook.name}}</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>

			<div class="row" ng-show="!(currentMode==='view')" style="margin: 0px 0px 30px 0px">
				<div style="margin-left: 40%">
					<button class="btn btn-default" ng-disabled="(currentMode==='edit'
                             ||(currentMode==='add' && !(BranchForm.$dirty)))"
							ng-click="clearForm()" style="margin-bottom: 15px;margin-right:30px"> Clear
					</button>
					<button type="submit" class="btn btn-primary"
							ng-disabled="!(selectedBranch.type && selectedBranch.prim_contact_no && selectedBranch.prim_email)"
							ng-click="saveBranch(BranchForm)" style="margin-bottom: 15px;margin-right:30px">Save
					</button>
				</div>
			</div>


			</form>

			<!--********** department association form *******************-->
			<form name="DepartmentForm" ng-show="tab_active_branch===2">
				<div ng-repeat="departmentBranch in selectedBranch.departments" class="card-body"
					 style="padding: 25px;">
					<div class="row" style="margin: 0px">
						<ul class="lv-actions actions"
							style="position:absolute;margin-top:10px;margin-left:90%;">
							<li class="btn-wave" data-ui-sref-active="active">
								<a href="" uib-tooltip="Edit Department" tooltip-placement="bottom"
								   ng-click="editDepartmentBranchClicked($index)">
									<i class="zmdi zmdi-edit">
									</i>
								</a>
							</li>
							<li>
								<a href="" uib-tooltip="Delete department"
								   tooltip-placement="bottom"
								   ng-click="deleteDepartmentBranchClicked($index)">
									<i class="zmdi zmdi-delete">
									</i>
								</a>
							</li>
						</ul>

						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Department Id</label>
								<div class="col-sm-6" style="padding-left: 15px;padding-right: 15px;">
									<div class="fg-line">
										<input style="height:30px" ng-model="departmentBranch.depId" class="form-control
                                            input-sm" readonly>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Department</label>
								<div class="col-sm-6" style="padding-left: 15px;padding-right: 15px;">
									<div class="fg-line">
										<input style="height:30px" ng-model="departmentBranch.depName" class="form-control
                                        input-sm" readonly>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Head</label>
								<div class="col-sm-6" style="padding-left: 15px;padding-right: 15px;">
									<div class="fg-line">
										<input style="height:30px" ng-model="departmentBranch.head" class="form-control
                                                input-sm" readonly>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Head employee id</label>
								<div class="col-sm-6" style="padding-left: 15px;padding-right: 15px;">
									<div class="fg-line">
										<input style="height:30px" ng-model="departmentBranch.headEmployeeId" class="form-control
                                                input-sm" readonly>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Open date</label>
								<div class="col-sm-6" style="padding-left: 15px;padding-right: 15px;">
									<div class="fg-line">
										<input ui-dateformat style="height:30px" ng-model="departmentBranch.openDate"
											   class="form-control
                                            input-sm" readonly>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Department email</label>
								<div class="col-sm-6" style="padding-left: 15px;padding-right: 15px;">
									<div class="fg-line">
										<input style="height:30px" ng-model="departmentBranch.email" class="form-control
                                            input-sm" readonly>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="col-sm-4 control-label">Strength</label>
								<div class="col-sm-6" style="padding-left: 15px;padding-right: 15px;">
									<div class="fg-line">
										<input style="height:30px" ng-model="departmentBranch.strength" class="form-control
                                            input-sm" readonly>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-1" style="float:right; margin-top:20px">
					<button ng-click="addDepartmentBranchClicked()" class="btn btn-primary waves-effect pointer">
						<i class="zmdi zmdi-plus zmdi-hc-fw"></i>
					</button>
				</div>
			</form>


		</div>
	</div>
</div>
</div>

