<div class="card-header ch-alt">
    <h2>Todo <!--small>Add, edit and manage your Todo Lists</small--></h2>
</div>

<div class="card-body card-padding" style="height: 200px">
    <!--div class="t-add">
        <i class="ta-btn zmdi zmdi-plus" data-ma-action="todo-form-open"></i>

        <div class="ta-block">
            <textarea placeholder="What you want to do..."></textarea>

            <div class="tab-actions">
                <a data-ma-action="todo-form-close" href="" class="c-red"><i class="zmdi zmdi-close"></i></a>
                <a data-ma-action="todo-form-close" href="" class="c-green"><i class="zmdi zmdi-check"></i></a>
            </div>
        </div>
    </div-->

    <!--div class="list-group">
        <div class="list-group-item media">
            <div class="pull-right">
                <ul class="actions actions-alt">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="">Delete</a></li>
                            <li><a href="">Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="media-body">
                <div class="checkbox checkbox-light">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                        <span>
                                                            Duis vitae nibh molestie pharetra augue vitae
                                                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="list-group-item media">
            <div class="pull-right">
                <ul class="actions actions-alt">
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="">Delete</a></li>
                            <li><a href="">Archive</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="media-body">
                <div class="checkbox checkbox-light">
                    <label>
                        <input type="checkbox">
                        <i class="input-helper"></i>
                        <span>
                                                            Suspendisse quis sollicitudin erosvel dictum nunc
                                                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div-->
</div>